div.offerSpecificationsContainer {
    font-size: 0.8em;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

div.containerSplitter {
    display: inline-block;
    width: 25%;
    /*max-width: 500px;*/
    margin: 0 .5% 0 .5%;
    vertical-align: top;
}

div.offerSpecificationsRightContainer {
    width: 70%;
}

a.quoteAction:hover {
    background-color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

div.offerSpecificationsLink {
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

div.offerSpecificationsLink > a {
    color: #FFFFFF;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 3em;
}

div.offerSpecificationsLink > a:hover,
div.offerSpecificationsTitle > h1 > a:hover {
    text-decoration: none;
    color: #f38630;
}

div.offer-specifications.edit-offer {
    position: absolute;
    top: 0;
    margin-top: -15px;
    margin-left: 12px;
}

div.offer-specifications.expire-offer {
    margin-left: 12em;
}

@media screen and (max-width: 480px) {
    div.offer-specifications.edit-offer > button.small {
        display: none !important;
    }

    div.offer-specifications.edit-offer > button.mini {
        display: block !important;
    }

    div.offer-specifications.expire-offer {
        margin-left: 5em;
    }
}

div.offer-specifications.edit-offer > button {
    height: 22px;
    line-height: 11px;
    font-size: 11px;
}

div.offer-specifications.edit-offer > button.mini {
    display: none;
    width: 3.5em;
}

div.offer-specifications.edit-offer > button.small {
    display: block;
}

div.offerSpecificationsTitle > h1 {
    /*font-size: 3vw;*/
    font-size: 36px;
    margin-bottom: 0;
}

div.offerSpecificationsBox {
    display: inline-block;
    /*border: solid 1px;*/
    padding: .2em 1em .2em 1em;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    font-weight: 100;
}

div.offerSpecificationsOriginalPrice {
    text-decoration: line-through;
}

div.offerSpecificationsSubtitle div {
    display: inline-block;
    margin-top: .5em;
}

div.content div.offerSpecificationsSubtitle {
    color: rgb(130, 130, 130);
    font-size: .8em;
}

div.offerSpecificationsSubtitle img {
    width: 15px;
}

div.offerSpecificationsDescription {
    display: block;
    margin-top: 1em;
    font-size: 14px;
    font-weight: normal;
}

div.offerSpecificationsImage {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-left: 2%;
}

div.offerSpecificationsImage > img {
    display: block;
    vertical-align: middle;
    background-color: rgba(118, 118, 118, 0.3);
    color: #e0e4cc;
    border: 2px solid #fff;
    border-radius: 20px;
    width: 100%;
}

div.offerSpecificationsFeedback {
    display: inline-block;
    width: 100%;
    margin-top: -1.5em;
}

div.feedbackButtons {
    text-align: center;
    margin-top: -1.4em;
}

div.loginFeedbackMessage,
div.feedbackButtons div {
    display: inline-block;
}

div.feedbackButtons div > button.small {
    display: inline-block;
    margin: 0 1em 0 1em;
    border-radius: 100%;
    width: 3em;
    height: 3em;
}

div.feedbackButtons div > button.small:hover {
    background-color: #f38630;
}

div.feedbackButtons div > button.small::before {
    position: absolute;
    top: .1em;
    right: .71em;
}

div.offerSpecificationsFeedbackTotal {
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%;
    height: 5em;
    margin-left: 10%;
    text-align: center;
}

h1.feedbackSumatory {
    margin: 0;
    /*font-size: 3vw;*/
    font-size: 24px;
}

div.offerSpecificationsFeedbackSmall {
    display: inline-block;
    width: 90%;
    border-top: 1px solid #fff;
}

div.offerSpecificationsFeedbackSmall > div {
    display: inline-block;
    width: 4em;
}

div#offerNegativeFeedback {
    text-align: right;
}

div#offerPositiveFeedback {
    text-align: left;
}

div.offerSpecificationsComments {
    width: 96%;
    margin-left: 2%;
    font-size: 14px;
    font-weight: normal;
    margin-top: .5em;
}

div.offerSpecificationsComments > div.commentsHeadTitle {
    text-decoration: underline;
}

div.commentsTheComment {
    /*border: solid 1px #fff;
    border-radius: 1em;*/
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 3em;
    padding: .5em 1em .5em 1em;
    margin-left: 3em;
}

div.theCommentAvatar {
    width: 3em;
    position: absolute;
}

div.quotedCommentAvatar {
    width: 2em;
    position: absolute;
}

div.commentAvatar > img {
    width: 100%;
}

div.commentText {
    margin-top: .5em;
}

div.commentsTheComment.quotedComment {
    margin-right: 1em;
    margin-left: 2em;
}

div.commentQuoteCommentContent {
    width: 98%;
}

div.commentQuoteCommentContent > textarea,
div.commentContent > textarea {
    background-color: rgba(0, 0, 0, 0.1);
}

div.quotedContent {
    font-style: italic;
}

div.commentBlock {
    margin-top: 1em;
}

div.quotedContent div.commentsHeadOwner {
    font-size: .8em;
    margin-left: 1em;
}

a.quoteAction {
    color: #97d779;
    text-decoration: underline;
}

div.commentQuoteButtons {
    margin-top: .5em;
    text-align: right;
}

@media screen and (max-width: 737px) {

    div.offerSpecificationsLink > a {
        font-size: 2.5em;
    }

    div.offerSpecificationsTitle > h1 {
        font-size: 20px;
    }

    div.containerSplitter {
        display: block;
        width: 60%;
        max-width: 500px;
        margin: 0 1em 0 1em;
    }

    div.offerSpecificationsImage {
        margin-left: 30%;
    }

    div.offerSpecificationsRightContainer {
        width: 96%;
        max-width: 96%;
    }
}
