<div id="password-forgotten">
    <div>
        <form name="passwordForgottenContainer" class="centeredForm password-forgotten-container">
            <ul>
                <label for="firstPassword" class="overhead-hint-label">Crea una nueva
                    contrase&ntilde;a</label>
                <input type="password" id="firstPassword" ng-model="theUser.firstPassword"
                       class="overheadField content-validation"
                       placeholder="Contrase&ntilde;a" ng-maxlength="250" required/>
            </ul>
            <ul>
                <label for="secondPassword" class="overhead-hint-label">Escribe de nuevo la
                    contrase&ntilde;a</label>
                <input type="password" id="secondPassword" ng-model="theUser.secondPassword"
                       class="overheadField content-validation"
                       placeholder="Repita la Contrase&ntilde;a" ng-maxlength="250"
                       pw-check="firstPassword" required/>
            </ul>
        </form>
    </div>

    <div id="password-forgotten-submit || processing" class="centeredForm">
        <button ng-disabled="!passwordForgottenContainer.$valid"
                class="button small icon fa-key overheadButton passwordForgottenContainer"
                ng-click="updatePassword(theUser)" class="overheadButton">
            Actualizar contrase&ntilde;a
        </button>
        <button ng-disabled="!passwordForgottenContainer.$valid || processing"
                class="button mini icon fa-key overheadButton passwordForgottenContainer"
                ng-click="updatePassword(theUser)"></button>
    </div>
</div>

