label {
    font-size: 1.2em;
    color: #fff;
}

/*overhead*/
form.centeredForm, div.centeredForm {
    text-align: center;
    margin: 0 auto;
}

div.overhead_container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background-color: #000000;
    opacity: 0.4;
    -webkit-opacity: 0.4;
    -moz-opacity: 0.4;
    overflow: hidden;
}

div.overhead_subcontainer {
    position: fixed;
    width: 90%;
    height: auto;
    max-height: 90%;
    min-height: 7em;
    border: .3em solid #FFFFFF;
    border-radius: 0em;
    background-color: #f38630;
    z-index: 1002;
    left: 5%;
    top: 5%;
    background-image: url("images/background_head5.png"), url("images/pattern-size1.svg");
    background-position: top left, center center;
    background-attachment: fixed, fixed;
    background-size: auto, cover;
    overflow-y: auto;
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
}

div.overhead_subcontainer.userRelated {
    background-image: url("images/background_usr5.png"), url("images/pattern-size1.svg");
}

div.overhead_subcontainer.offerRelated {
    background-image: url("images/background_offer5.png"), url("images/pattern-size1.svg");
}

div.overhead_subcontainer.offer-specifications-background {
    background-color: #51B1EC;
}

label.overheadLabel {
    color: #FFFFFF !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    margin: 0;
    display: block;
}

div.profileForm > label.overheadLabel {
    display: inline-block;
}

input.overheadField,
select.overheadField,
textarea#createOfferDescription {
    height: 2em;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 1em;
}

select.overheadField {
    background-color: #e7771f;
}

input.overheadField,
select.overheadField {
    width: 12em;
}

select option {
    background: #e7771f;
}

textarea#createOfferDescription {
    height: 10em;
}

ul.regular-bottom {
    margin-bottom: 1em;
}

li.regular-100, textarea.regular-100 {
    width: 100%;
}

li.regular-80 {
    width: 80%;
}

li.regular-40 {
    width: 40%;
}

li.regular-margin-1, ul.regular-margin-1 {
    margin-top: 1em !important;
}

input.regular-60 {
    width: 60% !important;
}

input.regular-40 {
    width: 40% !important;
}

div.overheadField {
    width: 12em;
    height: 2em;
    color: #ffffff;
    display: inline-block;
    background-color: transparent;
}

div.overheadField.select-wrapper::before {
    content: '\f078';
    display: block;
    height: 2em;
    line-height: 2em;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 2.5em;
}

input.overheadField:focus {
    width: 12em;
}

input.overheadField:focus,
textarea#createOfferDescription:focus {
    height: 2em;
    color: #000000;
    background-color: #ffffff;
}

textarea#createOfferDescription:focus {
    height: 10em;
}

div#accountCreationContainer {
    text-align: center;
}

button.close_button {
    color: #ffffff !important;
    position: absolute;
    top: 1em;
    right: 0;
    margin: -2.5em 1em 0 0 !important;
}

button.close_button.mini {
    margin: -2.5em 1em 0 0 !important;
}

div button.overheadButton {
    background-color: #F35E1E;
    color: #ffffff !important;
    display: inline-block;
}

div button.overheadButton.mini {
    width: 3em;
    border-radius: 100%;
    margin: 0 !important;
    padding: 0 0 0 .5em;
    display: none;
}

input.overheadField::selection {
    background: #f3630a;
}

input.overheadField::-moz-selection {
    background: #f3630a;
}

/*/overhead*/

/*top_header*/

#overheadSubContainer.hiddencontainer {
    display: none;
}

ul#overheadSubContainerContent {
    top: 0;
    left: 0;
    position: relative !important;
    margin-top: 2em;
}

button.whiteButton {
    color: #ffffff !important;
}

ul.actions.top_header {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 999;
    width: 100%;
}

ul.top_header > button.small,
ul.top_header li > button.small,
div.profileForm > button.small,
div.thumbnailButtons > button.small,
div.commentQuoteButtons > button.small,
div.more-offers-button>button.small{
    height: 2em;
    line-height: 2em;
    display: inline-block;
}

button.recaptcha {
    background-color: #4e8cf5 !important;
}

ul.top_header > button.mini,
ul.top_header li > button.mini,
div.profileForm > button.mini,
div.thumbnailButtons > button.mini,
div.commentQuoteButtons > button.mini,
div.more-offers-button > button.mini{
    width: 3em;
    border-radius: 100%;
    margin: 0;
    padding: 0 0em 0em 2.5em;
    display: none;
}

button.right-aligned:before {
    margin-right: 0.7em !important;
}

div.thumbnailButtons > button {
    -moz-transition: 0s;
    -webkit-transition: 0s;
    -ms-transition: 0s;
    transition: 0s;
}

@media screen and (max-width: 480px) and (orientation: portrait) {
    ul.top_header > button.small,
    ul.top_header li > button.small,
    div button.overheadButton.small,
    div.profileForm > button.small,
    div.thumbnailButtons > button.small,
    div.commentQuoteButtons > button.small {
        display: none;
    }

    ul.top_header > button.mini,
    ul.top_header li > button.mini,
    div.commentQuoteButtons > button.mini {
        display: block;
    }

    div button.overheadButton.mini,
    div.profileForm > button.mini,
    button.mini.inline {
        display: inline-block !important;
    }

    div.thumbnailButtons > button.mini {
        display: inline-block;
    }

    button.mini.inline {
        padding-left: .7em !important;
    }

    div.offerCaptcha,
    table.gc-bubbleDefault.pls-container {
        border: 0 !important;
        background-color: transparent !important;
        transform: scale(0.77);
        transform-origin: 0;
        -webkit-transform: scale(0.77);
        transform: scale(0.77);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }

    div#userProfileLogout{
        display: inline !important;
    }
    div#userProfileLogout>label{
        display: none !important;
    }

}

@media screen and (max-width: 480px) {
    .basic-margin {
        margin: .5em 0em !important;
    }
    #header h1 {
        font-size: 2em;
    }
}

.profileHiddenForm {
    display: none;
}

div.profileForm {
    position: absolute;
    display: inline-block;
    right: 2em;
}

/*/top_header*/

/**offerlist*/

div.more-offers-button{
    display: block;
    text-align: center;
}
a.more-offers-button{
    height: 3em;
}

div.offerCompanyInTitle {
    display: inline-block;
    font-size: .5em;
    margin-left: .75em;
}

.offerDescription {
    /*text-align: justify;*/
    color: #828282 !important;
}

.offerImageAndFeedback {
    width: 30%;
    margin: 0 3em 0 0;
}

@media screen and (max-width: 736px) and (orientation: landscape) {
    .offerImageAndFeedback {
        margin: 0 2em 0 0;
    }
}

@media screen and (max-width: 736px) and (orientation: portrait) {
    .offerImageAndFeedback {
        width: 100%;
        max-width: 60%;
        margin: 0 0 2em 0 !important;
    }

    .spotlight .image {
        width: 100%;
        max-width: 100%;
    }
}

.image.offerImage {
    width: 100%;
    display: inline;
}

.feedbackSumatory.offerListFeedback {
    display: inline-block;
    width: 6em;
    background-color: rgba(0, 0, 0, .2);
    border: solid 1px #222222;
    text-align: center;
    font-size: 1em;
    text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
}

.feedbackSumatory.hotFeedback {
    color: #57D735 !important;
    background-color: rgba(87, 215, 53, 0.50);
    -webkit-animation: hotty 10s infinite;
    animation: hotty 10s infinite;
}

.feedbackSumatory.coldFeedback {
    color: #d75330 !important;
    background-color: rgba(215, 83, 48, 0.50);
    -webkit-animation: coldy 10s infinite;
    animation: coldy 10s infinite;
}

.feedbackSumatory.neutralFeedback {
    -webkit-animation: neutraly 10s infinite;
    animation: neutraly 10s infinite;
}

@-webkit-keyframes hotty {
    0% {
        background-color: rgba(87, 215, 53, 0.50);
    }
    25% {
        background-color: rgba(87, 215, 53, 0.80);
    }
    25% {
        background-color: rgba(87, 215, 53);
    }
    75% {
        background-color: rgba(87, 215, 53, 0.80);
    }
    100% {
        background-color: rgba(87, 215, 53, 0.50);
    }
}

@keyframes hotty {
    0% {
        background-color: rgba(87, 215, 53, 0.50);
    }
    25% {
        background-color: rgba(87, 215, 53, 0.80);
    }
    25% {
        background-color: rgba(87, 215, 53);
    }
    75% {
        background-color: rgba(87, 215, 53, 0.80);
    }
    100% {
        background-color: rgba(87, 215, 53, 0.50);
    }
}

@-webkit-keyframes coldy {
    0% {
        background-color: rgba(215, 83, 48, 0.50);
    }
    25% {
        background-color: rgba(215, 83, 48, 0.80);
    }
    25% {
        background-color: rgba(215, 83, 48);
    }
    75% {
        background-color: rgba(215, 83, 48, 0.80);
    }
    100% {
        background-color: rgba(215, 83, 48, 0.50);
    }
}

@keyframes coldy {
    0% {
        background-color: rgba(215, 83, 48, 0.50);
    }
    25% {
        background-color: rgba(215, 83, 48, 0.80);
    }
    25% {
        background-color: rgba(215, 83, 48);
    }
    75% {
        background-color: rgba(215, 83, 48, 0.80);
    }
    100% {
        background-color: rgba(215, 83, 48, 0.50);
    }
}

@-webkit-keyframes neutraly {
    0% {
        background-color: rgba(0, 0, 0, .2);
    }
    25% {
        background-color: rgba(0, 0, 0, .3);
    }
    25% {
        background-color: rgba(0, 0, 0, .4);
    }
    75% {
        background-color: rgba(0, 0, 0, .3);
    }
    100% {
        background-color: rgba(0, 0, 0, .2);
    }
}

@keyframes neutraly {
    0% {
        background-color: rgba(0, 0, 0, .2);
    }
    25% {
        background-color: rgba(0, 0, 0, .3);
    }
    25% {
        background-color: rgba(0, 0, 0, .4);
    }
    75% {
        background-color: rgba(0, 0, 0, .3);
    }
    100% {
        background-color: rgba(0, 0, 0, .2);
    }
}

div.content > h3 {
    margin-top: 0;
}

p.invalid-image {
    -moz-transition: opacity 0.5s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 0.5s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 0.5s ease, -ms-transform 1s ease;
    transition: opacity 0.5s ease, transform 1s ease;
    opacity: 0;
    font-size: .8em;
    margin: 0;
    color: #ff1f17;
}

p.invalid-image.invalid-display {
    opacity: 1;
}

/*/offerlist*/

/*offer filter*/
section#contentFilter {
    padding-bottom: 0;
    padding-top: 1em;
    background-color: #A0A0A0;
    background-image: url("images/background_list_20_3.png");
    color: #fff;
}

div.filter-header > h3,
div.filterByCategoryContent div.select-wrapper > *,
a#applyFilter, a#cleanFilter {
    color: #fff !important;
}

a#applyFilter, a#cleanFilter {
    border: solid 1px #ffffff !important;
    box-shadow: inset 0 0 0 0px #e6e6e6;
}

a#applyFilter:hover, a#cleanFilter:hover {
    text-decoration: no-underline !important;
    background-color: #a7dbd8;
}

div.filterByCategoryContent div.select-wrapper select > option {
    background-color: rgba(0, 0, 0, .2);
}

label#label-for-filter-by {
    position: absolute;
    color: #fff;
    margin-left: .5em;
    margin-top: .4em;
}

input#filter-by {
    padding-left: 2em;
}

#filter-text-finder {
    display: inline-block;
}

.inline-block {
    display: inline-block !important;
}

.basic-margin {
    margin: .5em 1em;
}

input.filter-input {
    width: 20em;
}

@media screen and (max-width: 480px) and (orientation: portrait) {
    div.filters-contents {
        display: none;
    }

    button#displayFilterContents {
        display: block;
    }
}

@media screen and (max-width: 480px) and (orientation: landscape) {
    div.filters-contents {
        display: none;
    }

    button#displayFilterContents {
        display: block;
    }
}

@media screen and (max-width: 736px) and (orientation: portrait) {
    div.filters-contents {
        display: none;
    }

    button#displayFilterContents {
        display: block;
    }
}

@media screen and (max-width: 736px) and (orientation: landscape) {
    div.filters-contents {
        display: none;
    }

    button#displayFilterContents {
        display: block;
    }
}

@media screen and (min-width: 737px) and (orientation: portrait) {
    div.filters-contents {
        display: block;
    }

    button#displayFilterContents {
        display: none;
    }
}

@media screen and (min-width: 737px) and (orientation: landscape) {
    div.filters-contents {
        display: inline !important;
    }

    button#displayFilterContents {
        display: none !important;
    }
}

div.filters-displayed {
    display: block !important;
    -webkit-animation: verticalShow .5s linear;
}

div.filters-hidden {
    display: none;
}

button.filters-displayed {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    moz-transform: rotate(180deg);
}

button.filters-hidden {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    moz-transform: rotate(0deg);
}

button.filters-hidden,
button.filters-displayed {
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

button#displayFilterContents {
    border: solid 1px #fff;
    box-shadow: none;
    border-radius: 100%;
    width: 3em;
    height: 3em;
    padding: 0 0 0 .5em;
    background-color: rgba(255, 255, 255, .15);
    display: inline;
}

/*/offer filter*/

/*
server response
*/
div.responseDescription {
    color: #fff;
    font-size: 1em;
    text-align: center;
}

/*
/server response
*/

/*
validation
*/
.content-validation.ng-valid {
    background: rgba(105, 210, 231, .15) url(images/valid.png) no-repeat scroll right;
    background-size: 20px;
    border-color: #69d2e7 !important;
    padding-right: 25px;
}

.content-validation.ng-invalid {
    background: rgba(230, 41, 41, .15) url(images/invalid.png) no-repeat scroll right;
    background-size: 20px;
    border-color: #e62929 !important;
    padding-right: 25px;
}

.content-validation.ng-invalid.comment-textarea {
    padding-right: 0px;
    background: rgba(144, 144, 144, 0.075);
    border-color: #e6e6e6 !important;
}

div.select-validation div > select.ng-invalid,
div.content-validation.ng-invalid,
div.select-validation div > select.ng-invalid.ng-valid {
    background: rgba(230, 41, 41, .15) scroll right;
    padding-right: 0px;
    border-color: #e62929 !important;
}

div.content-validation.ng-valid,
div.select-validation div > select.ng-valid {
    background: rgba(105, 210, 231, .15) scroll right;
    padding-right: 0px;
    border-color: #69d2e7 !important;
}

form.ng-invalid-recaptcha ul li div.offerCaptcha {
    background: rgba(230, 41, 41, .15) scroll right;
    border-color: #e62929 !important;
}

form.ng-valid-recaptcha ul li div.offerCaptcha {
    background: rgba(105, 210, 231, .15) scroll right;
    border-color: #69d2e7 !important;
}

/**
logout*/
div#userProfileLogout {
    display: block;
    text-align: right;
}

div#userProfileLogout > label {
    display: inline;
    text-align: right;
}

div#userProfileLogout > img {
    display: inline;
    border-radius: 2px;
    border: 0;
    width: 40px;
    height: 40px;
}

/*general values*/
pre.parsed-text {
    padding: 0;
    margin: 0;
    font-size: 100%;
    color: #FFFFFF;
    word-break: break-all;
    word-wrap: break-word;
    background-color: transparent;
    border: 0;
    font: inherit;
}

pre.parsed-text.list {
    color: #828282;
}

.red-background {
    background-color: #D76060;
}

.green-background {
    background-color: #97d779;
}

.get-offer {
    background-color: #fff;
}

.get-offer:hover {
    color: #d70000 !important;
    background-color: #d0e4f8;
    text-decoration: none;
}

.moreDetailButton {
    color: #fff !important;
    background-color: #69d2e7 !important;
}

.moreDetailButton:hover {
    background-color: #a7dbd8 !important;
}

.orange-background {
    background-color: #d7b554;
}

.moreDetailButtons {
    background-color: #7aae76;
}

#header .button.hot-background:hover {
    color: #d70000 !important;
}

#header .button.hot-background {
    box-shadow: none;
    background-color: #ffffff;
    color: #f38630 !important;
}

#brandNewCompanyFormLabel {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

label.overhead-hint-label {
    text-align: center;
    font-style: italic;
    font-weight: normal;
    display: inherit;
    font-size: .7em;
}

input[type="checkbox"] + label.overheadLabel:before, input[type="radio"] + label.overheadLabel:before {
    border-color: #ffffff;
}

input[type="checkbox"]:checked + label.overheadLabel:before, input[type="radio"]:checked + label.overheadLabel:before {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #f38630;
}

.mainLogo {
    background: url("images/logoright200.png"), url("images/pattern-size1.svg") center;
    background-size: 90%;
    width: 2em;
    background-repeat: no-repeat;
    height: 2em;
    position: absolute;
    display: inline-block;
}

@media screen and (max-width: 980px) and (orientation: portrait) {
    .mainLogo {
        background-size: 80%;
    }
}

div.offerCaptcha {
    border: solid 1px #c5caca;
    padding: .5em;
    border-radius: 6px;
}

/*/general values*/

/*default values*/
::selection {
    background: transparent;
}

::-moz-selection {
    background: transparent;
}

textarea::selection,
input::selection {
    background: #D76060;
}

textarea::-moz-selection,
input::-moz-selection {
    background: #D76060;
}

body {
    overflow-x: hidden;
}