<section id="contentFilter" class="wrapper style2 special" ng-offer-filter="offerFilter"
         offer-list="offerList" selection="defaultList" offer-filter="offerFilter"></section>

<section id="promotion_list" class="wrapper style2">
    <div class="inner alt">
        <div ng-repeat="offer in offerList | unique: 'offer.id'">
            <section class="spotlight" ng-class="offer.offerExpired?'offer-expired':''">
                <div class="offer-image-presentation">
                    <div class="offerImageAndFeedback">
                        <div class="image offerImage">
                            <div class="offer-image-expired" ng-show="offer.offerExpired"></div>
                            <img ng-src="{{offer.offerImage}}" alt="" ng-click="showSpecifications(offer.id)"
                                 ng-class="offer.offerExpired?'offer-expired':''"/>
                        </div>
                        <div class="centeredForm">
                            <div class="offerListFeedback feedbackSumatory">
                                <h1 class="feedbackSumatory ng-binding" ng-class="(offer.offerPositiveVote - offer.offerNegativeVote |
                            number:0)>0?'hotFeedback':((offer.offerPositiveVote - offer.offerNegativeVote |
                            number:0)<0?'coldFeedback':'neutralFeedback')">{{offer.offerPositiveVote -
                                    offer.offerNegativeVote |
                                    number:0}}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="offer-call-to-actions">
                        <a class="button get-offer hot-background icon fa-fire whiteButton blue-text"
                           href="{{offer.offerLink}}" target="_blank">Obtener oferta</a>
                        <a class="button icon fa-sign-in moreDetailButton" ng-click="showSpecifications(offer.id)">
                            M&aacute;s
                            detalle
                        </a>
                    </div>
                </div>
                <div class="content">
                    <div class="offerSpecificationsSubtitle">
                        <img ng-src="{{offer.offerUser.userAvatar}}"/>

                        <div class="offerCreatedDate created-date-list">{{offer.offerCreatedDate | date:'MM/dd/yyyy
                            @h:mma'}}
                        </div>
                    </div>
                    <h3 ng-class="offer.offerExpired?'offer-expired':''">
                        <div>
                            <span>{{offer.offerTitle  | characters:120}}</span>
                            <span> - {{parsePrice(offer.finalPrice)}}€</span>
                        </div>
                        <div class="offerCompanyInTitle">
                            <i class="fa fa-tag" aria-hidden="true"></i>
                            {{offer.offerCompany.companyName}}
                        </div>
                    </h3>
                    <p class="offerDescription">
                    <pre class="parsed-text list">{{offer.offerDescription | characters:400}}</pre>
                    </p>

                    <div class="offer-call-to-actions">
                        <a class="button get-offer hot-background icon fa-fire whiteButton blue-text"
                           href="{{offer.offerLink}}" target="_blank">Obtener oferta</a>
                        <a class="button icon fa-sign-in moreDetailButton" ng-click="showSpecifications(offer.id)">
                            M&aacute;s
                            detalle
                        </a>
                    </div>
                </div>
            </section>
            <div ng-if="$last" class="more-offers-container">
                <button class="button small icon fa-cart-plus whiteButton get-offer more-offers-button"
                        ng-init="updateIndex($index)"
                        ng-class="!moreOffersLoading?'':'hideLoading'"
                        ng-click="showMoreOffers(lastOffer)">M&aacute;s ofertas
                </button>
            </div>
        </div>
    </div>
    <div ng-hide="offerList.length>0" class="no-offers">
        <i class="fa no-offers">:</i><i class="fa fa-cart-plus no-offers">(</i>

        <p>No hay ofertas que mostrar</p>
    </div>
    <div class="more-offers-container--centered">
        <button class="button small icon fa-cart-plus whiteButton get-offer more-offers-button"
                ng-class="!moreOffersLoading?'':'hideLoading'"
                ng-click="showMoreOffers(lastOffer)">M&aacute;s ofertas
        </button>
    </div>

    <div class="loading-dialogue">
        <i class="fa fa-refresh loadingdialogue grey" ng-class="!moreOffersLoading?'hideLoading':''"></i>
    </div>
</section>