<section id="contentFilter" class="wrapper style2 special" ng-offer-filter="offerFilter"
         offer-list="offerList" selection="defaultList" offer-filter="offerFilter"></section>

<section class="wrapper style2">
    <div class="inner alt">
        <div ng-repeat="offer in offerList | unique: 'offer.id'">
            <section class="spotlight" ng-class="offer.offerExpired?'offer-expired':''">
                <div class="offer-image-presentation">
                    <div class="offerImageAndFeedback" ng-class="offer.offerExpired?'offer-expired':''">
                        <div class="centeredForm">
                            <span class="offer-thermometer" ng-class="offerFeedbackStyle(offer)"></span>
                            <div class="offerListFeedback feedbackSumatory">
                                <h1 class="feedbackSumatory ng-binding" ng-class="offerFeedbackStyle(offer)">
                                    {{offer.offerPositiveVote -
                                    offer.offerNegativeVote |
                                    number:0}}º</h1>
                            </div>
                        </div>
                        <div class="image offerImage">
                            <div class="offer-image-expired" ng-show="offer.offerExpired"></div>
                            <img ng-src="{{offer.offerImage}}" alt="" ng-click="showSpecifications(offer.id)"
                                 ng-class="offer.offerExpired?'':offerFeedbackStyle(offer)"/>
                        </div>
                    </div>
                    <div class="offer-call-to-actions">
                        <a class="button icon small--rounded hvr-icon-forward fa-sign-in more-detail-cta"
                           ng-click="showSpecifications(offer.id)">
                            M&aacute;s
                            detalle
                        </a>
                        <a class="button icon small--rounded offer-cta"
                           href="{{offer.offerLink}}" target="_blank">
                            <div class="main-logo"></div>
                            <div class="main-logo__cta">¡A por la oferta!</div>
                        </a>
                    </div>
                </div>
                <div class="content" ng-class="offer.offerExpired?'offer-expired':''">
                    <div class="offerSpecificationsSubtitle">
                        <img ng-src="{{offer.offerUser.userAvatar}}"/>

                        <div class="offerCreatedDate created-date-list">{{offer.offerCreatedDate | date:'dd/MM/yyyy
                            @h:mma'}}
                        </div>
                    </div>
                    <h3 class="offer-title">
                        <a ng-href="/offer?sh={{offer.id}}" target="_blank" class="offer-title__link">
                            <span>{{offer.offerTitle  | characters:120}} - </span>
                            <span ng-if="offer.finalPrice">{{parsePrice(offer.finalPrice)}}€</span>
                            <span ng-if="offer.finalPrice==0">Gratis</span>
                            <span class="offer-title__external-link"><i class="fa fa-external-link" aria-hidden="true"></i></span>
                        </a>
                        <div class="offerCompanyInTitle">
                            <i class="fa fa-tag" aria-hidden="true"></i>
                            {{offer.offerCompany.companyName}}
                        </div>
                    </h3>
                    <p class="offerDescription">
                    <pre class="parsed-text list short-description">{{offer.offerDescription | characters:400}}</pre>
                    </p>

                    <div class="offer-call-to-actions">
                        <a class="button icon small--rounded offer-cta"
                           href="{{offer.offerLink}}" target="_blank">
                            <div class="main-logo"></div>
                            <div class="main-logo__cta">¡A por la oferta!</div>
                        </a>
                        <a class="button icon small--rounded hvr-icon-forward fa-sign-in more-detail-cta"
                           ng-click="showSpecifications(offer.id)">
                            M&aacute;s
                            detalle
                        </a>
                    </div>
                </div>
            </section>
            <div ng-if="$last" class="more-offers-container">
                <button class="button small small--rounded icon hvr-icon-spin fa-refresh whiteButton more-offers-button blueish-background"
                        ng-init="updateIndex($index)"
                        ng-class="!moreOffersLoading?'':'hideLoading'"
                        ng-click="showMoreOffers(lastOffer)">M&aacute;s ofertas
                </button>
            </div>
        </div>
    </div>
    <div ng-hide="offerList.length>0 || moreOffersLoading" class="no-offers">
        <p>No hay ofertas que mostrar</p>
    </div>
    <div class="more-offers-container--centered">
        <button class="button small small--rounded icon hvr-icon-spin fa-refresh whiteButton more-offers-button blueish-background"
                ng-class="!moreOffersLoading?'':'hideLoading'"
                ng-click="showMoreOffers(lastOffer)">M&aacute;s ofertas
        </button>
    </div>

    <div class="loading-dialogue">
        <i class="fa fa-refresh loadingdialogue grey" ng-class="!moreOffersLoading?'hideLoading':''"></i>
    </div>
</section>