<header id="header">
    <div class="content">
        <h1><em>aporlaoferta</em>

            <div class="mainLogo">
            </div>
        </h1>

        <p>Ofertas y promociones online</p>
        <ul class="actions">
            <li><a href="#promotion_list" class="button icon fa-shopping-cart whiteButton scrolly"
                   ng-click="requestNewestOffers()">&Uacute;ltimas
                promociones</a></li>
            <li><a ng-model="hotty" href="#promotion_list"
                   class="button hot-background icon fa-fire whiteButton scrolly"
                   ng-click="requestHottestOffers()">Ofertas calientes</a>
            </li>
        </ul>
    </div>
</header>

<section id="contentFilter" class="wrapper style2 special" ng-offer-filter="offerFilter"
         offer-list="offerList" selection="defaultList" offer-filter="offerFilter"></section>

<section id="promotion_list" class="wrapper style2">
    <div class="inner alt">
        <div ng-repeat="offer in offerList | unique: 'offer.id'">
            <section class="spotlight" ng-class="offer.offerExpired?'offer-expired':''">
                <div class="offerImageAndFeedback">
                    <div class="image offerImage">
                        <div class="offer-image-expired" ng-show="offer.offerExpired">Oferta caducada</div>
                        <img ng-src="{{offer.offerImage}}" alt="" ng-click="showSpecifications(offer.id)"
                             ng-class="offer.offerExpired?'offer-expired':''"/>
                    </div>
                    <div class="centeredForm">
                        <div class="offerListFeedback feedbackSumatory">
                            <h1 class="feedbackSumatory ng-binding" ng-class="(offer.offerPositiveVote - offer.offerNegativeVote |
                            number:0)>0?'hotFeedback':((offer.offerPositiveVote - offer.offerNegativeVote |
                            number:0)<0?'coldFeedback':'neutralFeedback')">{{offer.offerPositiveVote -
                                offer.offerNegativeVote |
                                number:0}}</h1>
                        </div>
                    </div>
                </div>

                <div class="content">
                    <h3 ng-class="offer.offerExpired?'offer-expired':''">{{offer.offerTitle}} - {{offer.finalPrice}}€
                        <div class="offerCompanyInTitle">{{offer.offerCompany.companyName}}</div>
                    </h3>

                    <p class="offerDescription">
                    <pre class="parsed-text list">{{offer.offerDescription}}</pre>
                    </p>

                    <div>
                        <a class="button get-offer hot-background icon fa-fire whiteButton blue-text"
                           href="{{offer.offerLink}}" target="_blank">obtener oferta</a>
                        <a class="button icon fa-sign-in moreDetailButton" ng-click="showSpecifications(offer.id)">
                            m&aacute;s
                            detalle
                        </a>
                    </div>
                </div>
            </section>
            <div ng-if="$last" class="more-offers-button">
                <button class="button small icon fa-cart-plus whiteButton get-offer more-offers-button"
                        ng-class="!moreOffersLoading?'':'hideLoading'"
                        ng-click="showMoreOffers($index)">M&aacute;s ofertas
                </button>
            </div>
        </div>
        <div ng-hide="offerList.length>0" class="no-offers">
            <i class="fa no-offers">:</i><i class="fa fa-cart-plus no-offers">(</i>

            <p>No hay ofertas que mostrar</p>
        </div>
    </div>
    <div class="loading-dialogue">
        <i class="fa fa-refresh loadingdialogue grey" ng-class="!moreOffersLoading?'hideLoading':''"></i>
    </div>
</section>