<header id="header">
    <div class="content">
        <h1><em>aporlaoferta</em>

        </h1>
        <div ng-main-slogan="mainSlogan"/>
        <ul class="actions">
            <li><a href="#offerFilterContainer" class="button medium--rounded hvr-icon-grow newest-offers icon fa-shopping-cart whiteButton scrolly main-selection"
                   ng-click="requestNewestOffers()">&Uacute;ltimas
                promociones</a></li>
            <li><a ng-model="hotty" href="#offerFilterContainer"
                   class="button medium--rounded hvr-icon-pulse-grow hot-offers icon fa-fire whiteButton scrolly main-selection"
                   ng-click="requestHottestOffers()">Ofertas calientes</a>
            </li>
            <li>
                <button class="button icon hvr-icon-shrink fa fa-info whiteButton no-decoration tutorial-info" ng-click="displayTutorialModal()" tabindex="0"></button>
            </li>
        </ul>
    </div>
</header>

<div ng-offer-list="offerList" default-list="defaultList"></div>