<header id="header">
    <div class="content">
        <h1><em>aporlaoferta</em>

            <div class="mainLogo">
            </div>
        </h1>

        <p>Ofertas y promociones online</p>
        <ul class="actions">
            <li><a href="#promotion_list" class="button icon fa-shopping-cart whiteButton scrolly"
                   ng-click="requestNewestOffers()">&Uacute;ltimas
                promociones</a></li>
            <li><a ng-model="hotty" href="#promotion_list"
                   class="button hot-background icon fa-fire whiteButton scrolly"
                   ng-click="requestHottestOffers()">Ofertas calientes</a>
            </li>
        </ul>

        <div ng-social-media="socialMedia" share-url="shareUrl" share-text="shareText"></div>
    </div>
</header>

<div ng-offer-list="offerList" default-list="defaultList"></div>