<header id="header">
    <div class="content">
        <h1><em>aporlaoferta</em>

            <div class="mainLogo">
            </div>
        </h1>

        <p>Ofertas y promociones online</p>
        <ul class="actions">
            <li><a href="#promotion_list" class="button icon fa-shopping-cart whiteButton scrolly"
                   ng-click="requestNewestOffers()">&Uacute;ltimas
                promociones</a></li>
            <li><a ng-model="hotty" href="#promotion_list"
                   class="button hot-background icon fa-fire whiteButton scrolly"
                   ng-click="requestHottestOffers()">Ofertas calientes</a>
            </li>
        </ul>

        <!-- Your like button code -->
        <!--<div class="fb-like"-->
             <!--data-href="http://www.aporlaoferta.com"-->
             <!--data-layout="button_count"-->
             <!--data-action="like"-->
             <!--data-share="true"-->
             <!--data-show-faces="true">-->
        <!--</div>-->
        <div class="social-media-shares">
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.aporlaoferta.com" target="_blank">
                Share on Facebook
            </a>
            <a href="https://twitter.com/intent/tweet?url=http://www.aporlaoferta.com&text=super_cool_shii iiit%20sj &via=betrunken69z"
               target="_blank">Tweet</a>
            <a href="https://plus.google.com/share?url=http://www.aporlaoferta.com" target="_blank">Share on Google+</a>

        </div>

    </div>
</header>

<div ng-offer-list="offerList" default-list="defaultList"></div>