<header class="major">
    <div class="filter-header">
        <h3>Filtrar contenidos</h3>
    </div>
    <div class="filters-contents">
        <div class="filterByCategoryContent inline-block basic-margin" ng-offer-category-manager="offerCategoryManager"></div>
        <input type="text" ng-model="offerTextFilter" class="filter-input inline-block basic-margin" id="filter-text-finder"
               value="" placeholder="Texto a buscar">

        <div class="filterWithExpiredContent inline-block basic-margin">
            <input type="checkbox" id="filterByExpiredCheckbox"
                   name="filterByExpiredCheckbox" ng-model="filterWithExpired"/>
            <label id="filterByExpiredLabel" for="filterByExpiredCheckbox" class="overheadLabel">Mostrar
                caducados</label>
        </div>
        <a href="#promotion_list" class="button icon fa-shopping-cart whiteButton inline-block basic-margin"
           ng-click="requestFilterApply()">Filtrar
            contenidos</a>
    </div>
</header>