<header class="major">
    <div class="filter-header">
        <h3>Filtrar contenidos</h3>
    </div>
    <button class="displayFilterContents button mini icon fa-chevron-down whiteButton no-decoration"
            ng-class="displayFilterContent" ng-click="displayFilterContents()"></button>
    <div class="filters-contents" ng-class="displayFilterContent">
        <ul>
            <div class="filterByCategoryContent inline-block basic-margin" ng-model="offerCategoryManager"
                 ng-offer-category-manager="offerCategoryManager" reset="resetCategory"
                 selectedcategory="filter.selectedcategory"
                 include-all="true"
                 changeevent="requestFilterApply"></div>
            <div class="filter-parent inline-block basic-margin">
                <label for="filter-by" id="label-for-filter-by"><i class="fa fa-search"></i></label>
                <input id="filter-by" type="text" ng-model="filter.text"
                       class="fa-search filter-input inline-block " id="filter-text-finder"
                       value="" placeholder="Buscar (m&iacute;inimo 3 car&aacute;cteres)"
                       ng-change="searchCriteriaChanged()">
            </div>

            <div class="filterWithExpiredContent inline-block basic-margin">
                <input type="checkbox" id="filterByExpiredCheckbox"
                       name="filterByExpiredCheckbox" ng-model="filter.expired"
                       ng-change="requestFilterApply()"/>
                <label id="filterByExpiredLabel" for="filterByExpiredCheckbox" class="overheadLabel">Mostrar
                    caducados</label>
            </div>
        </ul>

    </div>
    <div class="filter-tabs">
        <label ng-class="filter.dateRange==0?'selected':''">
            <div class="calendar-label day"></div>
            <input type="radio" ng-model="filter.dateRange" value="0">
            <span>24h</span>
        </label>

        <label ng-class="filter.dateRange==1?'selected':''">
            <div class="calendar-label week"></div>
            <input type="radio" ng-model="filter.dateRange" value="1">
            <span>Semana</span>
        </label>

        <label ng-class="filter.dateRange==2?'selected':''">
            <div class="calendar-label month"></div>
            <input type="radio" ng-model="filter.dateRange" value="2">
            <span>Mes</span>
        </label>

        <label ng-class="filter.dateRange==3?'selected':''">
            <div class="calendar-label all"></div>
            <input type="radio" ng-model="filter.dateRange" value="3">
            <span>Todos</span>
        </label>
    </div>
</header>