<div flow-init
     flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
     flow-file-success="filesIsUploaded($message)"
     flow-file-error="handleProcessError($message)"
     flow-error="handleProcessError($message)"
     flow-files-submitted="$flow.upload()" class="imageUploaderContent">

        <div class="thumbnail cubicTransition" ng-hide="$flow.files.length">
            Solo im&aacute;genes PNG,GIF,JPG son aceptados (max 5MB)
        </div>
        <div class="thumbnail cubicTransition" ng-show="$flow.files.length">
            <img flow-img="$flow.files[0]"/>
        </div>
        <div class="thumbnailButtons">
            <button class="button small icon fa-upload whiteButton orange-background" ng-hide="$flow.files.length" flow-btn
                    flow-attrs="{accept:'image/*'}">Seleccionar imagen
            </button>
            <button class="button mini icon fa-upload whiteButton orange-background" ng-hide="$flow.files.length" flow-btn></button>
            <button class="button small icon fa-exchange whiteButton  orange-background" ng-show="$flow.files.length" flow-btn
                    flow-attrs="{accept:'image/*'}">Cambiar
            </button>
            <button class="button mini icon fa-exchange whiteButton  orange-background" ng-show="$flow.files.length" flow-btn
                    flow-attrs="{accept:'image/*'}">
            </button>
            <button class="button small icon fa-trash whiteButton red-background" ng-show="$flow.files.length"
                    ng-click="$flow.cancel()">Borrar
            </button>
            <button class="button mini icon fa-trash whiteButton red-background" ng-show="$flow.files.length"
                    ng-click="$flow.cancel()">
            </button>
        </div>
</div>