<div>
    <select name="offerCompanies"
            ng-show="!brandNewCompany" ng-options="company as company.companyName for company in offerCompanies" ng-model="company" ng-change="onCompanyChange(company)">
    </select>
    <label for="brandNewCompanyForm">New company</label><input type="checkbox" id="brandNewCompanyForm"
                                                               name="brandNewCompanyForm" ng-model="brandNewCompany" ng-change="updateSelectedCompany(brandNewCompany)"/>
    <div ng-show="brandNewCompany">
        <form>
            <label for="createCompanyName">Name</label><input type="text" id="createCompanyName"
                                                              ng-model="offerCompany.companyName"/>
            <label for="createCompanyUrl">URL</label><input type="text" id="createCompanyUrl"
                                                            ng-model="offerCompany.companyUrl" />
        </form>
    </div>
</div>
