<div>
    <form id="offerCreationForm" name="createOfferForm" class="centeredForm">
        <ul>
            <li>
                <input type="text" id="createOfferTitle" name="createOfferTitle"
                       ng-model="offer.offerTitle" class="overheadField"
                       placeholder="T&iacute;tulo"/>
            </li>
            <li>
                <div ng-offer-category-manager="offerCategoryManager" reset="resetCategory" selectedcategory="offer.offerCategory"></div>
            </li>
        </ul>
        <ul>
            <li>
                <input type="text" id="createOfferOriginalPrice"
                       name="createOfferOriginalPrice"
                       ng-model="offer.originalPrice"
                       ng-pattern="bigDecimalsOnly" class="overheadField"
                       placeholder="Precio original"/>
                <!--<span ng-show="createOfferForm.createOfferOriginalPrice.$error.pattern">Precio invalido</span>-->
            </li>
            <li>
                <input type="text" id="createOfferFinalPrice"
                       name="createOfferFinalPrice"
                       ng-model="offer.finalPrice"
                       ng-pattern="bigDecimalsOnly" class="overheadField"
                       placeholder="Precio final"/>
                <!--<span ng-show="createOfferForm.createOfferFinalPrice.$error.pattern">Precio invalido</span>-->
            </li>
        </ul>
        <ul>
            <li>
                <input type="text" id="createOfferLink" ng-model="offer.offerLink" class="overheadField"
                       placeholder="Link"/>
            </li>
            <li>
                <div ng-company-manager="companyManager" reset="resetCompany" selectedcompany="offer.offerCompany"></div>
            </li>
        </ul>
        <ul>
            <li>
                <label id="offerImageUploadLabel" for="offerImageUploadContent" class="overheadLabel">Imagen</label>
                <div id="offerImageUploadContent" ng-image-uploader="createOfferImageUploader" final-url="offer.offerImage"></div>
                <input type="hidden" id="createOfferImage"
                       ng-model="offer.offerImage" class="overheadField"
                       placeholder="Imagen" required/>
            </li>
            <li>
                <textarea id="createOfferDescription" ng-model="offer.offerDescription" class="overheadField ng-pristine ng-valid" placeholder="A&ntilde;adir descripci&oacute;n" rows="6"></textarea>
            </li>
        </ul>

        <button
                ng-disabled="createOfferForm.createOfferOriginalPrice.$error.pattern
               || createOfferForm.createOfferFinalPrice.$error.pattern"
                ng-click="createOffer()"
                class="button small icon fa-shopping-cart overheadButton">Crear oferta
        </button>
        <button type="submit"
                ng-disabled="createOfferForm.createOfferOriginalPrice.$error.pattern
               || createOfferForm.createOfferFinalPrice.$error.pattern"
                ng-click="createOffer()"
                class="button mini icon fa-shopping-cart overheadButton"></button>
    </form>
</div>
