div#userProfileLogout {
  display: block;
  text-align: right;
}

div#userProfileLogout > label {
  display: inline;
  text-align: right;
}

div#userProfileLogout > img {
  border-radius: .5em;
  border: 0;
  display: inline;
  height: 40px;
  margin-bottom: .5em;
  width: 40px;
}
