label {
  font-size: 1.2em;
  color: $main-font-color;
}

pre.parsed-text {
  padding: 0;
  margin: 0;
  font-size: 100%;
  color: $main-font-color;
  word-break: break-all;
  word-wrap: break-word;
  background-color: transparent;
  border: 0;
  font: inherit;
  overflow: hidden;
  white-space: pre-wrap;
  max-height: 200px;
}

pre.parsed-text.list {
  color: $parsed-text-color;
}

.button.fa-fire.whiteButton.blue-text {
  color: $button-blueish-color;
}

#header .button.hot-background:hover {
  color: $get-offer-hot-color !important;
}

#header .button.hot-background {
  box-shadow: none;
  background-color: $get-offer-hot-background;
  color: $main-background-color !important;
}

#brandNewCompanyFormLabel {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
}

label.overhead-hint-label {
  text-align: center;
  font-style: italic;
  font-weight: 100;
  display: inherit;
  font-size: 1em;
  margin-top: .5em;
}

.only-page .main-slogan {
  text-align: right;
  font-size: 12px;
  width: 200px;
  top: 5em;
  left: -17em;
  position: absolute;
}

.only-page .main-slogan > p {
  font-size: 100% !important;
  line-height: 100% !important;
}

.mainLogo {
  background: url("images/logoright200.png"), url("images/pattern-size1.svg") center;
  background-size: 90%;
  width: 2em;
  background-repeat: no-repeat;
  height: 2em;
  position: absolute;
  display: inline-block;
}

.main-slogan {
  font-size: 0.75em;
  height: 100%;
  margin-bottom: 2em;
  -moz-transition: opacity 0.5s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 0.5s ease, -ms-transform 1s ease;
  transition: opacity 0.5s ease, transform 1s ease;
  opacity: 0;
}

.main-slogan.visible {
  opacity: 1;
}

.main-slogan p {
  line-height: 0 !important;
}

.main-slogan p:last-child {
  margin-top: -0.5em !important;
}

@media screen and (max-width: 738px) and (min-width: 481px) {
  .main-slogan {
    font-size: 1em;
    margin-left: 2em;
  }

  .only-page .main-slogan {
    left: -19em;
  }
}

@media screen and (max-width: 980px) {
  .mainLogo {
    background-size: 80%;
  }
  .only-page .main-slogan {
    left: -17em;
  }

  .only-page .main-slogan > p:first-child {
    margin-top: -2.5em !important;
  }
}

div.offerCaptcha {
  border: solid 1px $offer-captcha-border-color;
  padding: .5em;
  border-radius: 6px;
}

.social-media-link:hover, .actions li a:hover {
  text-decoration: none;
}

/*default values*/
::selection {
  background: transparent;
}

::-moz-selection {
  background: transparent;
}

textarea::selection,
input::selection {
  background: $button-red-background-color;
}

textarea::-moz-selection,
input::-moz-selection {
  background: $button-red-background-color;
}

button, a {
  &.small {
    display: inline-block;
    line-height: 2em;
  }

  &.small--rounded {
    height: 28px;
    border-radius: 14px;
    border: solid 2px;
  }

  &.mini {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 0;
    padding: 0 0em 0em 2.5em;
    display: none;

    &:before {
      font-size: 20px;
    }

    &.fixed {
      position: fixed;
      &.nth {
        margin-top: 40px !important;
      }
    }
  }

  &.whiteButton {
    color: $main-font-color;
    text-decoration: none;
  }

  &.red-background {
    background-color: $button-red-background-color;
    border-color: $button-red-background-color;
  }

  &.blueish-background {
    background-color: $button-blueish-background-color;
    border-color: $button-blueish-background-color;
  }

  &.green-background {
    background-color: $button-green-background-color;
    border-color: $button-green-background-color;
  }

  &.dark-green-background {
    background-color: $button-dark-green-background-color;
    border-color: $button-dark-green-background-color;
  }

  &.get-offer {
    background-color: $get-offer-background-color;
    border-color: $get-offer-background-color;

    &:hover {
      color: $get-offer-hot-color !important;
      background-color: $get-offer-hover-background-color;
      border-color: $get-offer-hover-background-color;
      text-decoration: none;
    }
  }

  .moreDetailButton {
    color: $main-font-color !important;
    background-color: $more-detail-background-color !important;
    border-color: $more-detail-background-color;

    &:hover {
      text-decoration: none;
      background-color: $more-detail-hover-background-color !important;
      border-color: $more-detail-hover-background-color;
    }
  }

  .orange-background {
    background-color: $button-orange-background-color;
    border-color: $button-orange-background-color;
  }

  .moreDetailButtons {
    background-color: $more-detail-buttons-background-color;
    border-color: $more-detail-buttons-background-color;
  }

  &.cl-policy {
    @extend .blueish-background;
  }

  &.cl-accept {
    @extend .green-background;
  }
}

@media screen and (max-width: 545px) {
  font-size: 12px;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: $main-background-color;
  background-image: url("images/background_head5.png"), url("images/pattern-size1.svg");
}

body.no-overflow {
  //overflow-y: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@font-face {
  font-family: font-family-main;
  src: url('./fonts/Ubuntu-L.ttf');
}

html, body {
  font-family: font-family-main;
}

