/**
scotch.io
*/

.overhead_subcontainer.ng-hide-add {
  animation: 0.3s fadeOut ease;
}

.overhead_subcontainer.ng-hide-remove {
  animation: 0.5s flipInX ease;
}

@keyframes flipInX {
  0% {
    /*transform: perspective(400px) rotate3d(1, 0, 0, 90deg);*/
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    /*transform: perspective(400px) rotate3d(1, 0, 0, -20deg);*/
    transition-timing-function: ease-in;
  }

  60% {
    /*transform: perspective(400px) rotate3d(1, 0, 0, 10deg);*/
    /*opacity: 1;*/
  }

  80% {
    /*transform: perspective(400px) rotate3d(1, 0, 0, -5deg);*/
  }

  100% {
    /*transform: perspective(400px);*/
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    /*transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);     */
    opacity: 0;
  }
}

@-moz-keyframes verticalShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes verticalShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes verticalShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes verticalHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes verticalHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes verticalHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes hotty {
  0% {
    background-color: $hotty-process-start-background-color;
  }
  25% {
    background-color: $hotty-process-half-background-color;
  }
  50% {
    background-color: $hotty-process-full-background-color;
  }
  75% {
    background-color: $hotty-process-half-background-color;
  }
  100% {
    background-color: $hotty-process-start-background-color;
  }
}

@-webkit-keyframes hotty {
  0% {
    background-color: $hotty-process-start-background-color;
  }
  25% {
    background-color: $hotty-process-half-background-color;
  }
  50% {
    background-color: $hotty-process-full-background-color;
  }
  75% {
    background-color: $hotty-process-half-background-color;
  }
  100% {
    background-color: $hotty-process-start-background-color;
  }
}

@keyframes hotty {
  0% {
    background-color: $hotty-process-start-background-color;
  }
  25% {
    background-color: $hotty-process-half-background-color;
  }
  50% {
    background-color: $hotty-process-full-background-color;
  }
  75% {
    background-color: $hotty-process-half-background-color;
  }
  100% {
    background-color: $hotty-process-start-background-color;
  }
}

@-moz-keyframes very-hotty {
  0% {
    background-color: $hotty-process-full-background-color;
  }
  25% {
    background-color: $hotty-process-burning-background-color;
  }
  50% {
    background-color: $hotty-process-burning-ashes-background-color;
  }
  75% {
    background-color: $hotty-process-burning-background-color;
  }
  100% {
    background-color: $hotty-process-full-background-color;
  }
}

@-webkit-keyframes very-hotty {
  0% {
    background-color: $hotty-process-full-background-color;
  }
  25% {
    background-color: $hotty-process-burning-background-color;
  }
  50% {
    background-color: $hotty-process-burning-ashes-background-color;
  }
  75% {
    background-color: $hotty-process-burning-background-color;
  }
  100% {
    background-color: $hotty-process-full-background-color;
  }
}

@keyframes very-hotty {
  0% {
    background-color: $hotty-process-full-background-color;
  }
  25% {
    background-color: $hotty-process-burning-background-color;
  }
  50% {
    background-color: $hotty-process-burning-ashes-background-color;
  }
  75% {
    background-color: $hotty-process-burning-background-color;
  }
  100% {
    background-color: $hotty-process-full-background-color;
  }
}

@-moz-keyframes coldy {
  0% {
    background-color: $coldy-process-start-background-color;
  }
  25% {
    background-color: $coldy-process-half-background-color;
  }
  50% {
    background-color: $coldy-process-full-background-color;
  }
  75% {
    background-color: $coldy-process-half-background-color;
  }
  100% {
    background-color: $coldy-process-start-background-color;
  }
}

@-webkit-keyframes coldy {
  0% {
    background-color: $coldy-process-start-background-color;
  }
  25% {
    background-color: $coldy-process-half-background-color;
  }
  50% {
    background-color: $coldy-process-full-background-color;
  }
  75% {
    background-color: $coldy-process-half-background-color;
  }
  100% {
    background-color: $coldy-process-start-background-color;
  }
}

@keyframes coldy {
  0% {
    background-color: $coldy-process-start-background-color;
  }
  25% {
    background-color: $coldy-process-half-background-color;
  }
  50% {
    background-color: $coldy-process-full-background-color;
  }
  75% {
    background-color: $coldy-process-half-background-color;
  }
  100% {
    background-color: $coldy-process-start-background-color;
  }
}

@-moz-keyframes neutraly {
  0% {
    background-color: $neutraly-process-start-background-color;
  }
  25% {
    background-color: $neutraly-process-half-background-color;
  }
  50% {
    background-color: $neutraly-process-full-background-color;
  }
  75% {
    background-color: $neutraly-process-half-background-color;
  }
  100% {
    background-color: $neutraly-process-start-background-color;
  }
}

@-webkit-keyframes neutraly {
  0% {
    background-color: $neutraly-process-start-background-color;
  }
  25% {
    background-color: $neutraly-process-half-background-color;
  }
  50% {
    background-color: $neutraly-process-full-background-color;
  }
  75% {
    background-color: $neutraly-process-half-background-color;
  }
  100% {
    background-color: $neutraly-process-start-background-color;
  }
}

@keyframes neutraly {
  0% {
    background-color: $neutraly-process-start-background-color;
  }
  25% {
    background-color: $neutraly-process-half-background-color;
  }
  50% {
    background-color: $neutraly-process-full-background-color;
  }
  75% {
    background-color: $neutraly-process-half-background-color;
  }
  100% {
    background-color: $neutraly-process-start-background-color;
  }
}

i.loadingdialogue {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
