label {
  font-size: 1.2em;
  color: $main-font-color;
}

pre.parsed-text {
  padding: 0;
  margin: 0;
  font-size: 100%;
  color: $main-font-color;
  word-break: break-all;
  word-wrap: break-word;
  background-color: transparent;
  border: 0;
  font: inherit;
  overflow: hidden;
  white-space: pre-wrap;
  max-height: 200px;
}

pre.parsed-text.list {
  color: $parsed-text-color;
}

.red-background {
  background-color: $button-red-background-color;
}

.blueish-background {
  background-color: $button-blueish-background-color;
}

.green-background {
  background-color: $button-green-background-color;
}

.dark-green-background {
  background-color: $button-dark-green-background-color;
}

.get-offer {
  background-color: $get-offer-background-color;
}

.get-offer:hover {
  color: $get-offer-hot-color !important;
  background-color: $get-offer-hover-background-color;
  text-decoration: none;
}

.moreDetailButton {
  color: $main-font-color !important;
  background-color: $more-detail-background-color !important;
}

.moreDetailButton:hover {
  text-decoration: none;
  background-color: $more-detail-hover-background-color !important;
}

.orange-background {
  background-color: $button-orange-background-color;
}

.moreDetailButtons {
  background-color: $more-detail-buttons-background-color;
}

.button.fa-fire.whiteButton.blue-text {
  color: $button-blueish-color;
}

#header .button.hot-background:hover {
  color: $get-offer-hot-color !important;
}

#header .button.hot-background {
  box-shadow: none;
  background-color: $get-offer-hot-background;
  color: $main-background-color !important;
}

#brandNewCompanyFormLabel {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
}

label.overhead-hint-label {
  text-align: center;
  font-style: italic;
  font-weight: 100;
  display: inherit;
  font-size: 1em;
  margin-top: .5em;
}

.only-page .main-slogan {
  text-align: right;
  font-size: 12px;
  width: 200px;
  top: 5em;
  left: -17em;
  position: absolute;
}

.only-page .main-slogan > p {
  font-size: 100% !important;
  line-height: 100% !important;
}

.mainLogo {
  background: url("images/logoright200.png"), url("images/pattern-size1.svg") center;
  background-size: 90%;
  width: 2em;
  background-repeat: no-repeat;
  height: 2em;
  position: absolute;
  display: inline-block;
}

.main-slogan {
  font-size: 0.75em;
  height: 100%;
  margin-bottom: 2em;
  -moz-transition: opacity 0.5s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 0.5s ease, -ms-transform 1s ease;
  transition: opacity 0.5s ease, transform 1s ease;
  opacity: 0;
}

.main-slogan.visible {
  opacity: 1;
}

.main-slogan p {
  line-height: 0 !important;
}

.main-slogan p:last-child {
  margin-top: -0.5em !important;
}

@media screen and (max-width: 738px) and (min-width: 481px) {
  .main-slogan {
    font-size: 1em;
    margin-left: 2em;
  }

  .only-page .main-slogan {
    left: -19em;
  }
}

@media screen and (max-width: 980px) {
  .mainLogo {
    background-size: 80%;
  }
  .only-page .main-slogan {
    left: -17em;
  }

  .only-page .main-slogan > p:first-child {
    margin-top: -2.5em !important;
  }
}

div.offerCaptcha {
  border: solid 1px $offer-captcha-border-color;
  padding: .5em;
  border-radius: 6px;
}

.social-media-link:hover, .actions li a:hover {
  text-decoration: none;
}

/*default values*/
::selection {
  background: transparent;
}

::-moz-selection {
  background: transparent;
}

textarea::selection,
input::selection {
  background: $button-red-background-color;
}

textarea::-moz-selection,
input::-moz-selection {
  background: $button-red-background-color;
}

body {
  overflow-x: hidden;
}

body.no-overflow {
  //overflow-y: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

