label {
  font-size: 1.2em;
  color: $main-font-color;
}

pre.parsed-text {
  padding: 0;
  margin: 0;
  font-size: 100%;
  color: $main-font-color;
  word-break: break-all;
  word-wrap: break-word;
  background-color: transparent;
  border: 0;
  font: inherit;
  overflow: hidden;
  white-space: pre-wrap;
  max-height: 200px;
}

#brandNewCompanyFormLabel {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
}

label.overhead-hint-label {
  text-align: center;
  font-style: italic;
  font-weight: 100;
  display: inherit;
  font-size: 1em;
  margin-top: .5em;
}

.only-page .main-slogan {
  text-align: right;
  font-size: 12px;
  width: 200px;
  top: 5em;
  left: -17em;
  position: absolute;
}

.only-page .main-slogan > p {
  font-size: 100% !important;
  line-height: 100% !important;
}

.mainLogo {
  background: url("images/logoright200.png") center;
  background-size: 90%;
  width: 2em;
  background-repeat: no-repeat;
  height: 2em;
  position: absolute;
  display: inline-block;
}

.main-slogan {
  font-size: 0.75em;
  height: 100%;
  margin-bottom: 2em;
  -moz-transition: opacity 0.5s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 0.5s ease, -ms-transform 1s ease;
  transition: opacity 0.5s ease, transform 1s ease;
  opacity: 0;
}

.main-slogan.visible {
  opacity: 1;
}

.main-slogan p {
  line-height: 0 !important;
}

.main-slogan p:last-child {
  margin-top: -0.5em !important;
}

@media screen and (max-width: 738px) and (min-width: 481px) {
  .main-slogan {
    font-size: 1em;
    margin-left: 2em;
  }

  .only-page .main-slogan {
    left: -19em;
  }
}

@media screen and (max-width: 980px) {
  .mainLogo {
    background-size: 80%;
  }
  .only-page .main-slogan {
    left: -17em;
  }

  .only-page .main-slogan > p:first-child {
    margin-top: -2.5em !important;
  }
}

div.offerCaptcha {
  border: solid 1px $offer-captcha-border-color;
  padding: .5em;
  border-radius: 6px;
}

.social-media-link:hover, .actions li a:hover {
  text-decoration: none;
}

/*default values*/
::selection {
  background: transparent;
}

::-moz-selection {
  background: transparent;
}

textarea::selection,
input::selection {
  background: $button-red-background-color;
}

textarea::-moz-selection,
input::-moz-selection {
  background: $button-red-background-color;
}

.wrapper {
  &.style2 {
    border-top: 2px solid $filter-tab-color !important;
  }

  > .inner.alt > * {
    border-top: solid 2px $offer-list-separator-border-color;
  }
}

.wrapper.style2 input[type="checkbox"]:hover + label:before,
.wrapper.style2 input[type="radio"]:hover + label:before {
  background-color: $filter-tab-hover-background-color;
}

@media screen and (max-width: 545px) {
  font-size: 12px;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: $main-background-color;
  background-image: url("images/background_head5.png");
}

body.no-overflow {
  //overflow-y: hidden;
}

@font-face {
  font-family: font-family-main;
  src: url('./fonts/Ubuntu-L.ttf');
}

html, body {
  font-family: font-family-main;
}

a:hover {
  text-decoration: none;
}