button, a {
  &.small {
    display: inline-block;
    line-height: 2em;
  }

  &.small--rounded {
    border-radius: 14px;
    border: solid 2px;
    font-size: 14px;
    line-height: 24px;
    height: 28px;

    &.offer-cta {
      color: $main-font-color;
      background-color: $button-hot-offers-background;
      border-color: $button-hot-offers-background;

      &:hover {
        .main-logo{
          background-image: url("images/logo/logo_cover_large.svg");
          left: 8px;
        }
      }

      .main-logo{
        width: 27px;
        height: 22px;
        left: 10px;
        position: absolute;
        display: inline-block;
        background-image: url("images/logo/logo_cover_white_large.svg");
      }

      .main-logo__cta{
        margin-left: 18px;
      }
    }

    &.more-detail-cta {
      color: $more-detail-color;
      background-color: $more-detail-background-color;
      border-color: $more-detail-color;

      &:hover {
        border-color: $button-hot-offers-background;
      }
    }
  }

  &.medium--rounded {
    height: 44px;
    border-radius: 22px;
    border: solid 2px;

    &.newest-offers {
      background-color: transparent;
      border-color: $redirect-container-hover-background;

      &:hover {
        background-color: $redirect-container-hover-background;
        border-color: $main-font-color;
      }
    }

    &.hot-offers {
      background-color: $button-hot-offers-background;
      border-color: $button-hot-offers-background;

      &:hover {
        background-color: $redirect-container-hover-background;
        border-color: $button-hot-offers-background;

        &::before {
          color: $get-offer-hot-color;
        }
      }
    }
  }

  &.mini {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 0;
    padding: 0 0em 0em 2.5em;
    display: none;

    &:before {
      font-size: 20px;
    }

    &.fixed {
      position: fixed;
      &.nth {
        margin-top: 40px !important;
      }
    }
  }

  &.whiteButton {
    color: $main-font-color;
    text-decoration: none;
  }

  &.red-background {
    background-color: $button-red-background-color;
    border-color: $button-red-background-color;
  }

  &.blueish-background {
    background-color: $button-blueish-background-color;
    border-color: $button-blueish-background-color;
  }

  &.green-background {
    background-color: $button-green-background-color;
    border-color: $button-green-background-color;
  }

  &.grey-background {
    background-color: $button-grey-background-color;
    border-color: $button-grey-background-color;
  }

  &.blue-border {
    border-color: $button-grey-background-color;
    color: $button-grey-background-color;

    &:hover{
      background-color: $button-grey-background-color;
      color: $main-font-color;
    }
  }

  &.dark-green-background {
    background-color: $button-dark-green-background-color;
    border-color: $button-dark-green-background-color;
  }

  &.get-offer {
    background-color: $get-offer-background-color;
    border-color: $get-offer-background-color;

    &:hover {
      color: $get-offer-hot-color !important;
      background-color: $get-offer-hover-background-color;
      border-color: $get-offer-hover-background-color;
      text-decoration: none;
    }
  }

  &.orange-background {
    background-color: $button-orange-background-color;
    border-color: $button-orange-background-color;
  }

  &.cl-policy {
    @extend .blueish-background;
  }

  &.cl-accept {
    @extend .green-background;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a, button {
  outline: none !important;
}
