.filter-tabs > label {
  height: 45px;
  width: 20%;
  margin: 0;
  bottom: -2px;
  position: relative;
  padding: .75em 2em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 2px solid #828282;
  background-color: #b9b9b9;
  background-image: url("images/background_list_20_3.png"), url("images/pattern-size3.svg");
  -moz-transition: background-color .3s linear;
  -webkit-transition: background-color .3s linear;
  -o-transition: background-color .3s linear;
  transition: background-color .3s linear;
  cursor: pointer;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

div.calendar-label {
  position: absolute;
  left: 10px;
  top: 6px;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

div.calendar-label.day {
  background-image: url("images/calendar_1.png");
}

div.calendar-label.week {
  background-image: url("images/calendar_7.png");
}

div.calendar-label.month {
  background-image: url("images/calendar_31.png");
}

div.calendar-label.all {
  background-image: url("images/calendar_all.png");
}

@media screen and (max-width: 760px) {
  .filter-tabs > label {
    font-size: 11px;
    padding-top: 15px;
    padding-right: 0;
  }
}

@media screen and (max-width: 545px) {
  div.calendar-label {
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    top: 0;
  }
  .filter-tabs > label span {
    visibility: hidden;
  }

}

.filter-tabs > label.selected {
  border-bottom: 2px solid #D7D7D7;
  background-color: #D7D7D7;
  color: #616161 !important;
}

.filter-tabs > label.selected:hover {
  background-color: #D7D7D7;
}

.filter-tabs > label:hover {
  background-color: #c6c6c6;
}

.filter-tabs > label input {
  display: none;
}

section#contentFilter {
  padding-bottom: 0;
  padding-top: 1em;
  background-color: #A0A0A0;
  background-image: url("images/background_list_20_3.png");
  color: #fff;
  border-bottom: 0;
}

div.filter-header > h3,
a#applyFilter, a#cleanFilter {
  color: #fff !important;
}

a#applyFilter, a#cleanFilter {
  border: solid 1px #ffffff !important;
  box-shadow: inset 0 0 0 0px #e6e6e6;
}

a#applyFilter:hover, a#cleanFilter:hover {
  text-decoration: none !important;
  background-color: #a7dbd8;
}

label#label-for-filter-by {
  position: absolute;
  color: #fff;
  margin-left: .5em;
  margin-top: .4em;
}

input#filter-by {
  padding-left: 2em;
}

#filter-text-finder {
  display: inline-block;
}

.inline-block {
  display: inline-block !important;
}

.basic-margin {
  margin: .5em 1em;
}

input.filter-input {
  width: 20em;
}

.no-decoration {
  text-decoration: none;
}

@media screen and (max-width: 480px) and (orientation: portrait) {
  div.filters-contents {
    display: none;
  }

  #displayFilterContents {
    display: block;
  }
}

@media screen and (max-width: 480px) and (orientation: landscape) {
  div.filters-contents {
    display: none;
  }

  #displayFilterContents {
    display: block;
  }
}

@media screen and (max-width: 736px) and (orientation: portrait) {
  div.filters-contents {
    display: none;
  }

  #displayFilterContents {
    display: block;
  }
}

@media screen and (max-width: 736px) and (orientation: landscape) {
  div.filters-contents {
    display: none;
  }

  #displayFilterContents {
    display: block;
  }
}

@media screen and (min-width: 737px) and (orientation: portrait) {
  div.filters-contents {
    display: block;
  }

  #displayFilterContents {
    display: none;
  }
}

@media screen and (min-width: 737px) and (orientation: landscape) {
  div.filters-contents {
    display: inline !important;
  }

  #displayFilterContents {
    display: none !important;
  }
}

div.filters-displayed {
  display: block !important;
  -webkit-animation: verticalShow .5s linear;
}

div.filters-hidden {
  display: none;
}

button.filters-displayed {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  moz-transform: rotate(180deg);
}

button.filters-hidden {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -o-transform: rotate(0deg);
  moz-transform: rotate(0deg);
}

button.filters-hidden,
button.filters-displayed {
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

#displayFilterContents {
  /*border: solid 1px #fff;*/
  box-shadow: none;
  border-radius: 100%;
  width: 3em;
  height: 3em;
  padding: 0 0 0 .5em;
  background-color: rgba(255, 255, 255, .15);
  display: inline;
}
