@media screen and (max-width: 736px) {
  .offerImageAndFeedback {
    width: 100%;
    margin: 0;
  }

  .spotlight {
    .image {
      width: 100%;
      max-width: 100%;
    }
    .content {
      width: 100%;
    }
  }

}

@media screen and (min-width: 960px) {
  .wrapper {
    padding: 2em 0;

    .more-offers-container {
      display: none;
    }

    .more-offers-container--centered {
      display: block;
      text-align: center;

      .more-offers-button {
        text-align: center;
        display: inline;
        font-size: 1em;
        height: 3.5em;
        color: $offer-list-font-color !important;
      }
    }

    > .inner {
      width: 90%;

      &.alt {
        width: 100%;

        > * {
          border-top: solid 2px $offer-list-separator-border-color;
          display: inline-block;
          padding-top: 1em;
          width: 50%;

          &:first-child {
            border-top: 0;
          }

          &:nth-child(2) {
            border-top: 0;
          }

          &:nth-child(odd) {
            border-right: solid 1px $offer-list-separator-border-color;
          }

          &:nth-child(even) {
            border-left: solid 1px $offer-list-separator-border-color;
          }

          .spotlight {
            margin: 0 1em;
            -moz-flex-direction: column !important;
            -webkit-flex-direction: column !important;
            -ms-flex-direction: column !important;
            flex-direction: column !important;

            .offer-image-presentation {
              width: 100%;

              .offer-call-to-actions{
                display: inline-block;
                vertical-align: top;
                margin-top: 32px;

                a{
                  display: block;
                  &:last-child{
                    margin-top: .5em;
                  }
                }
              }

              .offerImageAndFeedback {
                display: inline-block;
                width: 150px;
              }
            }

            .content {
              width: 100%;

              .offer-call-to-actions {
                display: none;
              }
            }
          }

        }
      }

    }
  }

}

@media screen and (min-width: 1440px) {
  .wrapper {
    padding-left: .5%;

    > .inner {
      &.alt {
        > * {
          width: 33%;
          border-left: solid 1px $offer-list-separator-border-color;
          border-right: solid 1px $offer-list-separator-border-color;

          &:first-child {
            border-top: 0;
          }

          &:nth-child(2) {
            border-top: 0;
          }

          &:nth-child(3) {
            border-top: 0;
          }

          &:nth-child(3n) {
            border-right: 0;
          }

          &:nth-child(3n+1) {
            border-left: 0;
          }
        }
      }
    }
  }

}
