.offer-specifications_brand-logo {
  width: 100%;
  height: 50px;
  z-index: 1020;
  color: $main-font-color;
  cursor: pointer;
  transition: opacity .5s ease;
  &:hover{
    opacity: .75;
  }

  .main-logo.main-logo--header {
    position: inherit;
    width: 60px;
    display: inline-block;
    height: 100%;
    margin: 0;
    @media screen and (max-width: 480px) {
      width: 55px;
    }
  }

  .only-page {
    vertical-align: top;
    margin: 0 0 0 5px;

    .main-logo__brand {
      font-size: 42px;
      @media screen and (max-width: 480px) {
        font-size: 30px;
      }
    }
  }

  .main-logo__slogan {
    display: inline-block;
    vertical-align: middle;
    .main-slogan {
      height: auto !important;
      p:last-child {
        margin-top: 0 !important;
      }
    }

    @media screen and (max-width: 480px) {
      vertical-align: top;
      margin-top: -25px;
      text-align: center;
      width: 100%;
      .main-slogan {
        display: inline-block;
        margin-bottom: 0;
        p {
          display: inline-block;
        }
      }
    }
  }
}

.offerSpecificationsContainer {
  font-size: 0.8em;
  color: $main-font-color;
  text-decoration: none;
  font-weight: bold;
  margin-top: 25px;

  @media screen and (max-width: 737px) {
    text-align: center;

    .offer-specifications {
      &.edit-offer {
        margin-top: -10px;
      }
    }
  }
}

div.containerSplitter {
  display: inline-block;
  width: 25%;
  /*max-width: 500px;*/
  margin: 0 .5% 0 .5%;
  vertical-align: top;
}

div.offerSpecificationsRightContainer {
  width: 70%;

  div > div.social-media-shares {
    margin: 0;
  }

  .offerSpecificationsSubtitle {
    color: $button-blueish-color;
  }
}

.offerSpecificationsLink {
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;

  a {
    background-color: $offer-specifications-title-color;
    color: $main-font-color;
    font-size: 18px !important;
    line-height: 40px;
    margin: 10px;
    padding-left: 40px;
    transition: background-color .5s ease, border 1s ease;
    text-decoration: none;

    &:hover {
      .main-logo{
        background-image: url("images/logo_cover_large.svg");
        width: 45px;
        height: 40px;
        left: 10px;
      }
    }

    &.offer-expired {
      background-color: $offer-expired-color;
      border-color: $offer-expired-color;

      &:hover {
        color: $offer-expired-color;

        &::before {
          color: $offer-expired-color !important;
        }
      }
    }

    .main-logo{
      width: 40px;
      height: 35px;
      left: 15px;
      position: absolute;
      display: inline-block;
      background-image: url("images/logo_cover_white_large.svg");
    }

    .main-logo__cta{
      margin-left: 20px;
    }
  }
}

.offerSpecificationsTitle {

  .offerCompany {
    i {
      margin-right: 5px;
      font-size: 11px;
    }
  }

  h2 {
    a:hover {
      text-decoration: none;
      color: $button-hot-offers-background;
    }

    &.offer-expired {
      text-decoration: line-through;

      a:hover {
        color: $offer-expired-color;
      }
    }
  }
}

.offer-specifications {
  &.edit-offer {
    position: absolute;
    top: 0;
    margin-top: 15px;
    margin-left: 12px;

    button {
      height: 22px;
      line-height: 11px;
      font-size: 11px;

      &.mini {
        display: none;
      }

      &.small {
        display: block;
      }
    }
  }

  &.expire-offer {
    margin-left: 13em;
  }
}

@media screen and (max-width: 480px) {

  .offer-specifications {
    &.edit-offer {
      .small {
        display: none !important;
      }

      .mini {
        display: block !important;
        border-radius: 6px;
        padding: 0;
        border: solid 2px $button-blueish-color !important;

        &:before {
          font-size: 15px;
          margin: 0;
        }
      }
    }

    &.expire-offer {
      margin-left: 5em;
    }
  }

  .offerSpecificationsRightContainer {
    div > .social-media-shares {
      width: 2em;
      left: 20px;
      margin-top: 4em !important;

      a {
        margin: .5em 0 .5em 0 !important;
      }
    }
  }
}

div.offerSpecificationsTitle {
  h2 {
    font-size: 28px;
  }
}

.offerSpecificationsBox {
  display: inline-block;
  border-radius: 14px;
  border: 1px solid $offer-specifications-borders-color;
  padding: 5px 2em;
  background-color: $offer-specifications-background;
  font-weight: 100;
  height: 22px;
  line-height: 11px;
  font-size: 11px;
  margin-bottom: 0.5em;
}

.offerSpecificationsOriginalPrice {
  text-decoration: line-through;
}

.user-banned {
  text-decoration: line-through;
}

.offerSpecificationsSubtitle {
  color: $offer-list-font-color;
  font-size: 1em;

  div {
    display: inline-block;
    margin-top: .5em;
  }

  img {
    width: 15px;
  }

  .remove-owner {
    margin-right: 10px;
    transition: color 1s ease;
    cursor: pointer;

    i {
      text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    }

    &:hover {
      color: $offer-specifications-subtitle-color;
    }

    &:disabled {
      color: $offer-specifications-subtitle-color;
      opacity: .5;
    }
  }
}

.offerSpecificationsDescription {
  display: block;
  margin: 2em 0 3em 0;
  font-size: 14px;
  font-weight: normal;
  pre.parsed-text {
    color: $main-font-color;
  }
}

.offerSpecificationsImage {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-left: 2%;

  .offer-temperature {
    .offer-thermometer {
      margin-left: -15px !important;
      left: 30px;
      top: 15px;

      @media screen and (min-width: 738px) and (max-width: 960px) {
        &.offer-thermometer--big {
          height: 26px;
          width: 13px;
        }
      }

      @media screen and (max-width: 480px) {
        &.offer-thermometer--big {
          height: 26px;
          width: 13px;
        }
      }
    }
  }

  .offer-image-expired {
    background: url("images/expired_offer.png") no-repeat;
    background-size: 96%;
    margin: 2%;
    position: absolute;
    width: 100%;
    height: 75%;
    z-index: 1;
  }

  img {
    display: block;
    vertical-align: middle;
    background-color: $offer-image-background-color;
    color: $offer-color;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    width: 100%;

    &.offer-expired {
      background-color: $offer-expired-background-color;
      opacity: 0.4;
      filter: alpha(opacity=40);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
      -moz-opacity: 0.4;
      -khtml-opacity: 0.4;
    }
  }

  .remove-offer {
    cursor: pointer;
    font-size: 20px;
    margin: 1em;
    position: absolute;
    transition: color 1s ease;
    z-index: 1005;

    i {
      text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    }

    &:hover {
      color: $offer-specifications-subtitle-color;
    }
  }
}

.offerSpecificationsFeedback {
  display: inline-block;
  margin-top: 8px;
  width: 100%;
  z-index: 2;

  .offerSpecificationsFeedbackTotal {
    text-align: center;

    .feedbackSumatory {
      margin: -20px 0 8px 0;

      .feedbackSumatory__temperature {
        cursor: pointer;

        input {
          margin: 0;
        }

        .feedbackTemperature {
          background-color: $offer-specifications-temperature-background;
          border: solid 2px;
          border-radius: 12px;
          font-size: 20px;
          padding: 2px 15px;
          color: $main-font-color;
        }
      }

      .offerSpecificationsFeedbackSmall {
        display: inline-block;
        margin: 8px 0;
        border-top: 1px solid $offer-specifications-borders-color;
        width: 90%;

        > div {
          display: inline-block;
          width: 4em;
        }
      }
    }
  }

  .feedbackButtons {
    text-align: center;

    button.small {
      border-radius: 9px;
      border: 2px solid;
      display: inline-block;
      margin: 0 8px;
      width: 45px;
      height: 26px;
      padding: 0;
      font-size: 22px;
      line-height: 22px;
      transition: background-color .5s ease;

      &.positive {
        background-color: $button-hot-offers-background;
        border-color: $button-hot-offers-background;
        &:hover {
          background-color: $offer-autocomplete-background;
          color: $button-hot-offers-background;
        }
      }

      &.negative {
        background-color: $button-blueish-color;
        border-color: $button-blueish-color;
        &:hover {
          background-color: $offer-autocomplete-background;
          color: $button-blueish-color;
        }
      }
    }
  }
}

.loginFeedbackMessage {
  display: inline-block;
  span {
    color: $button-hot-offers-background;
    cursor: pointer;
  }
}

div#offerNegativeFeedback {
  text-align: right;
}

div#offerPositiveFeedback {
  text-align: left;
}

@media screen and (max-width: 737px) {

  .offerSpecificationsSubtitle {
    font-size: .8em;
  }

  div.offerSpecificationsTitle {
    h2 {
      font-size: 24px;
    }
  }

  div.containerSplitter {
    display: block;
    width: 60%;
    max-width: 500px;
    margin: 0 1em 0 1em;
  }

  div.offerSpecificationsImage {
    margin-left: 30%;
  }

  div.offerSpecificationsRightContainer {
    width: 96%;
    max-width: 96%;

    div > .social-media-shares {
      margin-top: 4em !important;
      left: 20px;
      width: 2em;
      z-index: 995;

      a {
        margin: .5em 0 .5em 0 !important;
      }
    }
  }
}

md-autocomplete,
md-virtual-repeat-container,
md-virtual-repeat-scroller {
  background: $offer-autocomplete-background !important;
}
