div.offerSpecificationsContainer {
  font-size: 0.8em;
  color: $main-font-color;
  text-decoration: none;
  font-weight: bold;
}

div.containerSplitter {
  display: inline-block;
  width: 25%;
  /*max-width: 500px;*/
  margin: 0 .5% 0 .5%;
  vertical-align: top;
}

div.offerSpecificationsRightContainer {
  width: 70%;

  div > div.social-media-shares {
    margin: 0;
  }

  .offerSpecificationsSubtitle {
    color: $main-font-color;
  }
}

.offerSpecificationsLink {
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;

  a {
    background-color: $offer-specifications-title-color;
    color: $main-font-color;
    font-size: 28px;
    margin: 10px;
    padding-left: 40px;
    transition: background-color 1s ease, border 1s ease;
    text-decoration: none;

    &:hover {
      &::before {
        color: $button-hot-offers-background !important;
      }
    }

    &.offer-expired {
      background-color: $offer-expired-color;
      border-color: $offer-expired-color;

      &:hover {
        color: $offer-expired-color;

        &::before {
          color: $offer-expired-color !important;
        }
      }
    }
  }
}

.offerSpecificationsTitle {

  .offerCompany {
    i {
      margin-right: 5px;
      font-size: 12px;
    }
  }

  h2 {
    a:hover {
      text-decoration: none;
      color: $button-hot-offers-background;
    }

    &.offer-expired {
      text-decoration: line-through;

      a:hover {
        color: $offer-expired-color;
      }
    }
  }
}

.offer-specifications {
  &.edit-offer {
    position: absolute;
    top: 0;
    margin-top: -15px;
    margin-left: 12px;

    button {
      height: 22px;
      line-height: 11px;
      font-size: 11px;

      &.mini {
        display: none;
      }

      &.small {
        display: block;
      }
    }
  }

  &.expire-offer {
    margin-left: 13em;
  }
}

@media screen and (max-width: 480px) {

  .offerSpecificationsLink {
    a {
      font-size: 20px;
      line-height: 40px;
    }
  }
  .offer-specifications {
    &.edit-offer {
      .small {
        display: none !important;
      }

      .mini {
        display: block !important;
        border-radius: 6px;
        padding: 0;

        &:before {
          font-size: 15px;
          margin: 0;
        }
      }
    }

    &.expire-offer {
      margin-left: 5em;
    }
  }

  .offerSpecificationsRightContainer {
    div > .social-media-shares {
      width: 2em;
      left: 20px;
      margin-top: 2em !important;
    }
  }
}

div.offerSpecificationsTitle > h1 {
  /*font-size: 3vw;*/
  font-size: 36px;
  margin-bottom: 0;
}

div.offerSpecificationsBox {
  display: inline-block;
  /*border: solid 1px;*/
  padding: .2em 1em .2em 1em;
  background-color: $offer-specifications-background;
  font-size: 14px;
  font-weight: 100;
}

div.offerSpecificationsOriginalPrice {
  text-decoration: line-through;
}

.user-banned {
  text-decoration: line-through;
}

.offerSpecificationsSubtitle {
  color: $offer-list-font-color;
  font-size: 1em;

  div {
    display: inline-block;
    margin-top: .5em;
  }

  img {
    width: 15px;
  }

  .remove-owner {
    margin-right: 10px;
    transition: color 1s ease;
    cursor: pointer;

    i {
      text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    }

    &:hover {
      color: $offer-specifications-subtitle-color;
    }

    &:disabled {
      color: $offer-specifications-subtitle-color;
      opacity: .5;
    }
  }
}

div.offerSpecificationsDescription {
  display: block;
  margin-top: 1em;
  font-size: 14px;
  font-weight: normal;
}

.offerSpecificationsImage {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-left: 2%;

  .offer-image-expired {
    background: url("images/expired_offer.png") no-repeat;
    background-size: 96%;
    margin: 2%;
    position: absolute;
    width: 100%;
    height: 75%;
    z-index: 1;
  }

  img {
    display: block;
    vertical-align: middle;
    background-color: $offer-image-background-color;
    color: $offer-color;
    border: 2px solid $offer-specifications-borders-color;
    border-radius: 20px;
    width: 100%;

    &.offer-expired {
      background-color: $offer-expired-background-color;
      opacity: 0.4;
      filter: alpha(opacity=40);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
      -moz-opacity: 0.4;
      -khtml-opacity: 0.4;
    }
  }

  .remove-offer {
    cursor: pointer;
    font-size: 20px;
    margin: 1em;
    position: absolute;
    transition: color 1s ease;
    z-index: 1005;

    i {
      text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    }

    &:hover {
      color: $offer-specifications-subtitle-color;
    }
  }
}

.offerSpecificationsFeedback {
  display: inline-block;
  width: 100%;
  margin-top: -1.5em;
  z-index: 2;
}

div.feedbackButtons {
  text-align: center;
  margin-top: -1.4em;

  div {
    display: inline-block;

    button.small {
      display: inline-block;
      margin: 0 1em 0 1em;
      border-radius: 100%;
      width: 40px;
      height: 40px;
      padding: 0;

      &:hover {
        background-color: $offer-autocomplete-background;
      }

      &:before {
        font-size: 16px;
        margin: 0;
        line-height: 40px;
      }
    }
  }
}

.loginFeedbackMessage {
  display: inline-block;
  span {
    color: $button-hot-offers-background;
    cursor: pointer;
  }
}

div.offerSpecificationsFeedbackTotal {
  background-color: $offer-total-feedback-background;
  width: 80%;
  height: 5em;
  margin-left: 10%;
  text-align: center;
}

div.offerSpecificationsFeedbackSmall {
  display: inline-block;
  width: 90%;
  border-top: 1px solid $offer-specifications-borders-color;
}

div.offerSpecificationsFeedbackSmall > div {
  display: inline-block;
  width: 4em;
}

div#offerNegativeFeedback {
  text-align: right;
}

div#offerPositiveFeedback {
  text-align: left;
}

@media screen and (max-width: 737px) {

  .offerSpecificationsLink {
    a {
      font-size: 24px;
    }
  }

  .offerSpecificationsSubtitle {
    font-size: .8em;
  }

  div.offerSpecificationsTitle > h1 {
    font-size: 20px;
  }

  div.containerSplitter {
    display: block;
    width: 60%;
    max-width: 500px;
    margin: 0 1em 0 1em;
  }

  div.offerSpecificationsImage {
    margin-left: 30%;
  }

  div.offerSpecificationsRightContainer {
    width: 96%;
    max-width: 96%;

    div > .social-media-shares {
      margin-top: 2em !important;
      left: 20px;
      width: 2em;
      z-index: 995;
    }
  }
}

md-autocomplete,
md-virtual-repeat-container,
md-virtual-repeat-scroller {
  background: $offer-autocomplete-background !important;
}
