.filter-tabs {
  label {
    bottom: -2px;
    color: $main-font-color !important;
    cursor: pointer;
    font-size: 1em;
    height: 45px;
    margin: 0;
    padding: .75em 2em;
    position: relative;
    width: 20%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 2px solid $filter-tab-color;
    background-color: $filter-tab-background-color;
    -moz-transition: background-color .3s linear;
    -webkit-transition: background-color .3s linear;
    -o-transition: background-color .3s linear;
    transition: background-color .3s linear;

    &.selected {
      border-bottom: 2px solid $main-font-color;
      background-color: $main-font-color;
      color: $filter-tab-unselected-color !important;

      &:hover {
        background-color: $main-font-color;
      }

      .calendar-label {

        &.day {
          background-image: url("images/calendar/calendar_1.png");
        }

        &.week {
          background-image: url("images/calendar/calendar_7.png");
        }

        &.month {
          background-image: url("images/calendar/calendar_31.png");
        }

        &.all {
          background-image: url("images/calendar/calendar_all.png");
        }
      }
    }

    &:hover {
      background-color: $filter-tab-hover-background-color;
    }

    input {
      display: none;
    }
  }

}

div.calendar-label {
  position: absolute;
  left: 10px;
  top: 6px;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;

  &.day {
    background-image: url("images/calendar/calendar_1_w.png");
  }

  &.week {
    background-image: url("images/calendar/calendar_7_w.png");
  }

  &.month {
    background-image: url("images/calendar/calendar_31_w.png");
  }

  &.all {
    background-image: url("images/calendar/calendar_all_w.png");
  }
}

@media screen and (max-width: 760px) {
  .filter-tabs > label {
    font-size: 11px;
    padding-top: 15px;
    padding-right: 0;
  }
}

@media screen and (max-width: 545px) {
  div.calendar-label {
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    top: 0;
  }
  .filter-tabs > label span {
    visibility: hidden;
  }

}

section#contentFilter {
  padding-bottom: 0;
  padding-top: 1em;
  background-color: $filter-background-color;
  background-image: url("images/background/background_list_20_3.png");
  color: #fff;
  border-bottom: 0;
}

.label-for-filter-by {
  position: absolute;
  color: #fff;
  margin-left: .5em;
  margin-top: .4em;
}

input.filter-by {
  padding-left: 2em;
}

.filter-text-finder {
  display: inline-block;
}

.inline-block {
  display: inline-block !important;
}

.basic-margin {
  margin: .5em 1em;
}

button.displayFilterContents {
  left: 50%;
  margin: 0 0 10px -20px;
  padding-left: 0;

  &:before {
    margin: 0 !important;
  }
}

input.filter-input {
  width: 16em;
}

.no-decoration {
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  div.filters-contents {
    display: none;
  }

  .displayFilterContents {
    display: block;
  }
}

@media screen and (max-width: 736px) {

  div.filters-contents {
    display: none;
  }

  .displayFilterContents {
    display: block !important;
  }
}

@media screen and (min-width: 737px) {
  div.filters-contents {
    display: inline !important;
  }

  .displayFilterContents {
    display: none !important;
  }
}

div.filters-displayed {
  display: block !important;
  -webkit-animation: verticalShow .5s linear;
}

div.filters-hidden {
  display: none;
}

button.filters-displayed {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  moz-transform: rotate(180deg);
}

button.filters-hidden {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -o-transform: rotate(0deg);
  moz-transform: rotate(0deg);
}

button.filters-hidden,
button.filters-displayed {
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.displayFilterContents {
  box-shadow: none;
  border-radius: 100%;
  width: 3em;
  height: 3em;
  padding: 0 0 0 .5em;
  background-color: $filter-category-content-background;
  display: inline;
}

.filters-contents {
  ul{
    padding-left: 0;
  }
}

div.filterByCategoryContent {
  .category-dropdown {
    color: $main-font-color !important;
    font-weight: normal !important;
    font-family: font-family-main !important;
    border: solid 1px $filter-category-dropdown-background !important;
    box-shadow: inset 0 0 0 0px #e6e6e6;
    background: $filter-category-dropdown-background !important;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;

    &:hover {
      text-decoration: none !important;
      background-color: $filter-tab-hover-background-color !important;
    }
  }
}

