h3.offer-expired, h1.offer-expired {
  text-decoration: line-through;
}

img.offer-expired {
  background-color: $offer-expired-background-color;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
}

.offer-image-expired {
  background: url("images/expired_offer.png") no-repeat;
  background-size: 96%;
  height: 100%;
  margin: 2%;
  position: absolute;
  width: 100%;
}

div.more-offers-button {
  display: block;
  text-align: center;
}

button.more-offers-button {
  text-align: center;
  display: inline;
  font-size: 1em;
  height: 3.5em;
  color: $offer-list-font-color !important;
}

.hideLoading {
  display: none !important;
}

i.loadingdialogue {
  font-family: FontAwesome;
  font-size: 2em !important;
  box-shadow: none !important;
}

i.loadingdialogue.white {
  color: $main-font-color !important;
}

i.loadingdialogue.grey {
  color: $offer-list-font-color !important;
}

i.loadingdialogue.popup-loading {
  position: absolute;
  margin: -1em 0 0 -.4em;
}

div.loading-dialogue {
  text-align: center;
}

div.no-offers, i.no-offers {
  text-align: center !important;
  color: $offer-list-font-color !important;
  font-size: 2em;
}

div.offerCompanyInTitle {
  display: inline-block;
  font-size: .5em;
  margin-left: .75em;
}

.offerDescription {
  /*text-align: justify;*/
  color: $offer-list-font-color !important;
}

pre.parsed-text {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap;
  word-break: break-word !important;
  text-align: justify;
}

.offerImageAndFeedback {
  max-width: 200px;
  width: 30%;
  margin: 0 3em 0 0;
}

@media screen and (max-width: 736px) and (orientation: landscape) {
  .offerImageAndFeedback {
    margin: 0 2em 0 0;
  }
}

@media screen and (max-width: 736px) and (orientation: portrait) {
  .offerImageAndFeedback {
    width: 100%;
    margin: 0 0 2em 0 !important;
  }

  .spotlight .image {
    width: 100%;
    max-width: 100%;
  }
}

.image.offerImage {
  display: inline-block;
  width: 100%;
  height: 100%;
  box-shadow: none !important;

  img{
    border: solid 3px $offer-color !important;
    background-color: rgba(118, 118, 118, 0.3);
  }
}

.feedbackSumatory.offerListFeedback {
  display: inline-block;
  width: 6em;
  background-color: $offer-list-feedback-background;
  box-shadow: inset 0 0 0 2px $offer-color;
  text-align: center;
  font-size: 1em;
  text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
}

.feedbackSumatory.hotFeedback {
  color: $main-font-color !important;
  background-color: $hotty-process-start-background-color;
  -webkit-animation: hotty 10s infinite;
  animation: hotty 10s infinite;
}

.feedbackSumatory.coldFeedback {
  color: $main-font-color !important;
  background-color: $coldy-process-start-background-color;
  -webkit-animation: coldy 10s infinite;
  animation: coldy 10s infinite;
}

.feedbackSumatory.neutralFeedback {
  -webkit-animation: neutraly 10s infinite;
  animation: neutraly 10s infinite;
}

div.content > h3 {
  margin-top: 0;
}

p.invalid-image {
  -moz-transition: opacity 0.5s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 0.5s ease, -ms-transform 1s ease;
  transition: opacity 0.5s ease, transform 1s ease;
  opacity: 0;
  font-size: .8em;
  margin: 0;
  color: $validation-invalid-color;
}

p.invalid-image.invalid-display {
  opacity: 1;
}
