form.centeredForm, div.centeredForm {
  text-align: center;
  margin: 0 auto;
}

div#password-forgotten-submit .mini {
  box-shadow: inset 0 0 0 2px #e6e6e6;
  text-align: center;
  padding-left: 0.7em;
}

div.overhead_container {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1002;
  background-color: $overhead-container-background-color;
  opacity: 0.4;
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  overflow: hidden;
}

.overhead_subcontainer--fixed {
  width: 650px;
  left: 50%;
  margin-left: -325px;
}

div.overhead_subcontainer {
  width: 650px;
  left: 50%;
  margin-left: -325px;
  position: fixed;
  height: auto;
  max-height: 90%;
  min-height: 7em;
  border: 0;
  border-radius: 14px;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
  background-color: $offer-specifications-background-color;
  z-index: 1003;
  top: 5%;
  background-image: url("images/background_head6.png");
  background-position: top left, center center;
  background-size: auto, cover;
  overflow-y: auto !important;
  opacity: 0;

  &.offer-specifications-loading {
    opacity: 1;
  }

  &.overhead_subcontainer--visible {
    opacity: 1;
  }

  &.overhead_subcontainer-fullscreen {
    width: 100% !important;
    max-height: 100% !important;
    left: 0 !important;
    top: 50px !important;
    box-shadow: none !important;
    margin: 0 !important;
    height: 93% !important;
    border: 0 !important;
    border-radius: 0;
  }

  &.userRelated, &.loginRelated {
    background-image: url("images/background_usr6.png");
    @extend .overhead_subcontainer--fixed;
  }

  &.tutorialRelated {
    @extend .overhead_subcontainer--fixed;
  }

  &.offerRelated {
    background-image: url("images/background_offer6.png");
    width: 80%;
    left: 10%;
  }

  &.offer-specifications-background {
    width: 90%;
    left: 5%;
    margin-left: 0;
  }

  label {
    color: $button-blueish-color;

    &.overheadLabel {
      font-size: 1em;
      font-weight: normal;
      margin: 0;
      display: block;
    }
  }

}

@media (min-width: 481px) {
  div.overhead_subcontainer {
    transition: all .5s ease;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  div.overhead_subcontainer {
    width: 90%;

    &.userRelated, &.loginRelated {
      width: 80%;
      left: 10%;
      margin-left: 0;
    }

    &.offerRelated {
      width: 90%;
      left: 5%;
      margin-left: 0;
    }

    &.offer-specifications-background {
      width: 90%;
      left: 5%;
      margin-left: 0;
    }

    &.tutorialRelated {
      width: 80%;
      left: 10%;
      margin-left: 0;
    }
  }
}

@media (max-width: 480px) {
  div.overhead_subcontainer {
    &:not(.overhead_subcontainer-fullscreen) {
      top: 0;
      height: 100%;
      max-height: 100% !important;
    }
    &.overhead_subcontainer-fullscreen {
      top: 50px!important;
      height: 88%!important;
      max-height: 88%!important;
    }

    &.userRelated,
    &.offer-specifications-background,
    &.offerRelated,
    &.tutorialRelated,
    &.loginRelated,
    &.offer-specifications-loading {
      width: 100% !important;
      left: 0 !important;
      box-shadow: none !important;
      margin: 0 !important;
      border: 0 !important;
    }

    .loading-specifications {
      padding-left: 1em;
      margin-top: 50%;
    }
  }
}

input.overheadField,
textarea#createOfferDescription {
  height: 40px;
  color: $main-font-color;
  display: inline-block;
  margin-bottom: 1em;
}

input.overheadField {
  width: 12em;
}

input.overheadField:disabled {
  background-color: $overhead-field-disabled-background !important;
  border-color: $overhead-field-disabled-background !important;
}

textarea#createOfferDescription {
  height: 10em;
}

ul.regular-bottom {
  margin-bottom: 1em;
}

li.regular-100, textarea.regular-100 {
  width: 100%;
}

li.regular-80 {
  width: 80%;
}

li.regular-40 {
  width: 40%;
}

li.regular-margin-1, ul.regular-margin-1 {
  margin-top: 1em !important;
}

input.regular-60 {
  width: 60% !important;
}

input.regular-40 {
  width: 40% !important;
}

div.overheadField {
  width: 12em;
  height: 2em;
  color: $main-font-color;
  display: inline-block;
  background-color: transparent;
}

input.overheadField:focus {
  width: 12em;
}

input.overheadField:focus,
textarea#createOfferDescription:focus {
  height: 40px;
  color: $overhead-container-background-color;
  background-color: $overhead-field-focus-background;
}

textarea#createOfferDescription:focus {
  height: 10em;
}

div#accountCreationContainer {
  text-align: center;
}

button.close_button {
  color: $main-font-color !important;
  position: absolute;
  top: 1em;
  right: 0;
  margin: -2.5em 1em 0 0 !important;
}

button.close_button.mini,
a.close_button.mini {
  margin: -2em 1em 0 0 !important;
}

button.close_button.mini::before,
a.close_button.mini::before {
  margin-right: -5px;
}

button.write-comment.mini::before,
a.write-comment.mini::before {
  margin-left: 3px;
}

button.account-management.mini::before,
a.account-management.mini::before {
  margin-left: -1.3em !important;
}

.overheadButton.blue {
  background-color: $overhead-button-blue-color !important;
}

div .overheadButton {
  background-color: $overhead-button-background-color;
  color: $main-font-color !important;
  display: inline-block;
}

div .overheadButton.mini {
  width: 3em;
  border-radius: 100%;
  margin: 0 !important;
  padding: 0 0 0 .5em;
  display: none;
}

input.overheadField::selection {
  background: $overhead-field-selection-background;
}

input.overheadField::-moz-selection {
  background: $overhead-field-selection-background;
}