form.password-forgotten-container > ul {
  padding: 0;
}

form.password-forgotten-container ul > input {
  color: $main-font-color;
}

button.passwordForgottenContainer {
  background-color: $password-forgotten-background !important;
}

label#forgottePasswordRequestLabel {
  padding-top: 0.15em;
  margin-top: 1em;
}

div.content.only-page {
  width: 100% !important;
  text-align: center !important;
}

.only-page {
  display: inline-block;
}
