form.password-forgotten-container > ul {
  padding: 0;
}

form.password-forgotten-container ul > input {
  color: $main-font-color;
}

button.passwordForgottenContainer {
  background-color: $password-forgotten-background !important;
}

label#forgottePasswordRequestLabel {
  padding-top: 0.15em;
  margin-top: 1em;
}

.mainLogo.only-page {
  font-size: 3.25em;
  font-weight: bold;
  margin-top: .5em;
}

@media screen and (max-width: 480px) {
  .mainLogo.only-page {
    width: 1.1em;
  }
}

@media screen and (min-width: 480px) {
  .mainLogo.only-page {
    width: 2em;
  }
}

div.content.only-page {
  width: 100% !important;
  text-align: center !important;
}

.only-page {
  display: inline-block;
}
