button.tutorial-info {
  background-color: $redirect-container-hover-background;
  border: solid 2px;
  border-color: $redirect-container-hover-background;
  border-radius: 15px;
  height: 30px;
  line-height: 30px;
  padding: 0 !important;
  width: 30px;

  &:hover {
    border-color: $button-blueish-color;
    color: $button-blueish-color;
  }

  &::before {
    font-size: 25px;
    margin: 0 !important;
  }
}

@media screen and (max-width: 480px) {
  button.tutorial-info {
    border-radius: 10px;
    line-height: 28px;
    margin-top: 2em !important;

    &::before {
      font-size: 20px;
    }
  }
}
