@media screen and (max-width: 480px) {
  #userProfileLogout {
    position: absolute;
    right: 50px;
  }

  .profile-options-dropdown {
    width: 40px !important;
    height: 40px !important;

    &:not(.active) {
      border-radius: 100% !important;
    }

    &.active {
      border-top-right-radius: 100%;
      border-top-left-radius: 100%;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    &::before {
      font-size: 20px;
      left: 9px !important;
      top: 6px !important;
    }

    span {
      display: none;
    }

    ul.dropdown {
      width: 98px;
      left: -58px;
      border-top-left-radius: 14px;
    }
  }

}

.profile-options-dropdown {
  position: absolute;
  right: 0;
  border: 0;
  border-radius: 14px;
  background-color: $profile-options-background-color;
  height: 28px;
  width: 7em;
  line-height: 2em;
  display: inline-block;
  color: $main-font-color;
  font-family: font-family-main;
  transition: background-color .5s ease;

  &.active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &::before {
    position: absolute;
    top: 0;
  }

  &.wrap-dd-select {
    &:after {
      display: none;
    }

    &:hover {
      background-color: $profile-options-hover-background-color;
    }
  }

  span {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 1em;
  }

  ul.dropdown,
  ul.dropdown li a {
    border: 0;
    background: $profile-options-background-color;
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    text-align: center;
  }

  ul.dropdown,
  ul.dropdown li:last-child,
  ul.dropdown li:last-child a {
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
  }
}

.wrap-dd-select .dropdown,
.wrap-dd-select .dropdown li a {
  background: $main-background-clear-color;
  border: 1px solid $main-background-color;
  color: $main-font-color !important;
}