@media screen and (max-width: 480px) {
  #userProfileLogout {
    position: absolute;
    right: 50px;
  }

  div.profile-options-dropdown {
    width: 40px !important;
    height: 40px !important;
    border-radius: 100%;
  }

  div.profile-options-dropdown::before {
    font-size: 20px;
    left: 9px !important;
    top: 6px !important;
  }

  div.profile-options-dropdown span {
    display: none;
  }

  div.profile-options-dropdown ul.dropdown {
    width: 98px;
    left: -58px;
    border-top-left-radius: 7px;
  }
}

div.profile-options-dropdown {
  position: absolute;
  right: 0;
  border: 0;
  background-color: $profile-options-background-color;
  height: 2em;
  width: 7em;
  line-height: 2em;
  display: inline-block;
  color: $main-font-color;
  font-family: font-family-main;
}

div.profile-options-dropdown.active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

div.profile-options-dropdown::before {
  position: absolute;
  top: 0;
}

div.profile-options-dropdown span {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 1em;
}

div.profile-options-dropdown ul.dropdown,
div.profile-options-dropdown ul.dropdown li a {
  border: 0;
  background: $profile-options-background-color;
  font-size: 12px;
  font-weight: bold;
  padding: 0;
  text-align: center;
}

div.profile-options-dropdown ul.dropdown,
div.profile-options-dropdown ul.dropdown li:last-child,
div.profile-options-dropdown ul.dropdown li:last-child a {
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.profile-options-dropdown.wrap-dd-select:after{
  display: none;
}

.profile-options-dropdown.wrap-dd-select:hover{
  background-color: $profile-options-hover-background-color;
}

.wrap-dd-select .dropdown,
.wrap-dd-select .dropdown li a{
  background: $main-background-clear-color;
  border: 1px solid $main-background-color;
  color: $main-font-color !important;
}