div.responseDescription {
  color: $main-font-color;
  font-size: 1em;
  text-align: center;
}

/*
/redirect-container
*/
div.redirect-container {
  text-align: center;
  color: $main-font-color;
  font-size: 1em;
}

div.redirect-container > i {
  color: $main-font-color !important;
  font-size: 5em;
}

div.redirect-container div.redirect-container-actions > a {
  font-size: 15px;
  color: $main-font-color;
  border: solid 1px $redirect-container-border-color !important;
  box-shadow: inset 0 0 0 0px #e6e6e6;
}

div.redirect-container div.redirect-container-actions > a:hover {
  color: $redirect-container-hover-color;
  text-decoration: none;
  background-color: $redirect-container-hover-background;
}

div.redirect-container div.redirect-container-actions > a.back:hover {
  color: $redirect-container-back-hover-color !important;
}
