/*social-media*/
div.social-media-shares {
  top: 0;
  margin-top: 1em;
  position: absolute;
  z-index: 1000;
}

a.social-share {
  height: 2em;
  line-height: 2em;
  display: inline-block;
  font-size: 0.8em;
  color: $main-font-color !important;
  text-decoration: none;
  padding: 0 1.75em;
  font-weight: bold;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

a.social-share:hover {
  text-decoration: none;
  background: none !important;
}

a.social-share.fa-google-plus {
  background-color: $social-google-background-color;
}

a.social-share.fa-twitter {
  background-color: $social-twitter-background-color;
}

a.social-share.fa-facebook {
  background-color: $social-fb-background-color;
}

a.social-share.small {
  display: inline-block;
}

a.social-share.mini {
  display: none;
  font-size: 15px;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 100%;
  padding: 0 .6em !important;
}

@media screen and (max-width: 1200px) {
  a.social-share.small {
    display: none;
  }

  a.social-share.mini {
    display: inline-block;
  }

  .social-media-shares {
    left: 50%;
  }
}

@media screen and (max-width: 737px) {
  a.social-share {
    margin-top: .3em;
  }

  header {
    .social-media-shares {
      left: 20px !important;
      margin-top: 5em;
      width: 2em;
    }
  }
}

@media screen and (max-width: 737px) {
  a.social-share {
    margin-top: .3em;
  }

  header {
    .social-media-shares {
      left: 20px !important;
      margin-top: 5em;
      width: 2em;
    }
  }
}

@media screen and (max-width: 480px) {
  header {
    .social-media-shares {
      margin-top: 120px;
    }
  }
}

