.top_header {
  .social-media-container {
    text-align: right;

    &.true{
      margin-top: 50px;
    }

    &.false{
      margin-top: -40px;
    }

    .social-media-shares {
      right: 0;
      width: 2em;
      z-index: 1000;
      left: auto;
      position: relative;
      display: inline-block;

      a {
        margin-bottom: 5px;
        background-color: $footer-font-color !important;

        &.fa-google-plus:hover {
          background-color: $social-google-background-color !important;;
        }

        &.fa-twitter:hover {
          background-color: $social-twitter-background-color !important;;
        }

        &.fa-facebook:hover {
          background-color: $social-fb-background-color !important;
        }
      }
    }
  }
}

.social-media-shares {
  left: 50%;
  top: 0;
  margin-top: 1em;
  position: absolute;
  z-index: 1001;

  .social-share {
    display: inline-block;
    color: $main-font-color !important;
    font-size: 12px;
    line-height: 2em;
    text-decoration: none;
    padding: 0 1.75em;
    font-weight: bold;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    &.small {
      display: none;
    }

    &.mini {
      display: inline-block !important;
      font-size: 15px;
      width: 2em;
      height: 2em;
      line-height: 2em;
      border-radius: 100%;
      padding: 0 .6em;

      &:before {
        font-size: 15px;
      }
    }

    &:hover {
      text-decoration: none;
      background: none;
    }

    &.fa-google-plus {
      background-color: $social-google-background-color;
      border-color: $social-google-background-color;
    }

    &.fa-twitter {
      background-color: $social-twitter-background-color;
      border-color: $social-twitter-background-color;
    }

    &.fa-facebook {
      background-color: $social-fb-background-color;
      border-color: $social-fb-background-color;
    }

  }
}

@media screen and (min-width: 1201px) {
  .social-share {
    &.small {
      display: inline-block;
    }

    &.mini {
      display: none !important;
    }
  }
}

@media screen and (max-width: 737px) {
  a.social-share {
    margin-top: .3em;
  }
}

@media screen and (max-width: 737px) {
  a.social-share {
    margin-top: .3em;
  }
}

