#overheadSubContainer {
  .hiddencontainer {
    display: none;
  }
}

ul#overheadSubContainerContent {
  top: 0;
  left: 0;
  position: relative !important;
  margin-top: 2em;
}

ul.actions.top_header {
  position: absolute;
  top: 1em;
  padding-left: 1em;
  z-index: 1001;
  width: 100%;
}

ul.top_header > .overflown {
  top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 0;
  padding: 0 0em 0em .80em;
  opacity: 1;
  position: fixed;

  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;

  &:hover{
    background-color: $overflown-hover-background;
  }
}

ul.top_header > .overflown-second {
  top: 65px;
}

ul.top_header > .overflown-left {
  left: 10px;
}

ul.top_header > .overflown-right {
  right: 25px;
}

ul.top_header > .overflown.hidden {
  opacity: 0;
}

@media screen and (max-width: 480px) {
  ul.top_header > .overflown.desktop {
    display: none;
  }
}

ul.top_header > .overflown:before {
  font-size: 1.5em;
}

.overflown.to-the-top {
  background-color: $overflown-background;

  &::before{
    padding: 0 !important;
    margin-left: -2px;
  }

  &:hover{
    background-color: transparent;
    border-color: $overflown-background;
  }
}

button.right-aligned:before {
  margin-right: 0.5em !important;
}

@media screen and (max-width: 480px){
  button {
    &.small {
      display: none;
    }

    &.mini {
      display: block;
    }
  }

  div .overheadButton.mini,
  div.profileForm > .mini,
  button.mini.inline,
  a.mini.inline {
    display: inline-block !important;
  }

  div.thumbnailButtons > .mini,
  div.remember-me-security > .mini {
    display: inline-block;
  }

  button.mini.inline,
  a.mini.inline {
    padding-left: .5em !important;
  }

  button.right-aligned.mini.inline {
    padding-left: .7em !important;
  }

  div.offerCaptcha,
  table.gc-bubbleDefault.pls-container {
    border: 0 !important;
    background-color: transparent !important;
    transform: scale(0.77);
    transform-origin: 0;
    -webkit-transform: scale(0.77);
    transform: scale(0.77);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  div#userProfileLogout {
    display: inline !important;
  }

  div#userProfileLogout > label {
    display: none !important;
  }

  a.main-selection {
    padding-left: 3em !important;
  }

}

@media screen and (max-width: 480px) {
  .basic-margin {
    margin: .5em 0em !important;
  }

  #header h1 {
    font-size: 2em;
  }

}

.profileHiddenForm {
  display: none;
}

div.profileForm {
  position: absolute;
  display: inline-block;
  right: 1em;
}

header.top-header {
  height: auto !important;
  min-height: 0 !important;
}

@media screen and (min-width: 1280px) {
  header.top-header {
    margin: 4em 0 2em 0;
  }
}

@media screen and (min-width: 980px) {
  header.top-header {
    margin: 4em 0 2em 0;
  }
}

body.top-header {
  background-image: url("images/background_head5.png");
  background-color: $main-background-color;
}
