#createOfferCompanySection {
  border-radius: 6px;
  border: solid 1px;
  color: $main-font-color;
}

#createOfferCompanySection md-autocomplete {
  background: none !important;
}

.md-autocomplete-suggestions {
  background: transparent !important;
  border: 1px solid $main-background-color;
  color: $main-font-color;
}

.md-autocomplete-suggestions li {
  color: $main-font-color !important;
}

.md-autocomplete-suggestions li:hover {
  color: $autocomplete-suggestions-color !important;
}

div.offer-creation-category.ng-valid .category-dropdown,
.content-validation.ng-valid {
  background: $validation-background-color url(images/valid.png) no-repeat scroll right;
  background-size: 20px;
  border-color: $validation-border-color !important;
  padding-right: 25px;
}

div.offer-creation-category.ng-valid .category-dropdown:hover,
.content-validation.ng-valid:hover {
  background: $validation-hover-background-color url(images/valid.png) no-repeat scroll right;
  background-size: 20px;
}

.content-validation.ng-valid:focus:hover {
  background: $validation-focus-background-color url(images/valid.png) no-repeat scroll right;
  background-size: 20px;
}

div.offer-creation-category.ng-invalid .category-dropdown,
.content-validation.ng-invalid {
  background: $validation-invalid-background-color url(images/invalid.png) no-repeat scroll right;
  background-size: 20px;
  border-color: $validation-invalid-color !important;
  padding-right: 25px;
}

div.offer-creation-category.ng-invalid .category-dropdown:hover,
.content-validation.ng-invalid:hover {
  background: $validation-hover-background-color url(images/invalid.png) no-repeat scroll right;
  background-size: 20px;
}

.content-validation.ng-invalid:focus:hover {
  background: $validation-focus-background-color url(images/invalid.png) no-repeat scroll right;
  background-size: 20px;
}

.content-validation.ng-invalid.comment-textarea {
  padding-right: 0px;
  background: $validation-invalid-comment-background;
  border-color: $validation-invalid-comment-border-color !important;
}

div.content-validation.ng-invalid {
  background: $validation-invalid-background-color scroll right;
  padding-right: 0px;
  border-color: $validation-invalid-color !important;
}

div.content-validation.ng-valid {
  background: $validation-background-color scroll right;
  padding-right: 0px;
  border-color: $validation-border-color !important;
}

form.ng-invalid-recaptcha ul li div.offerCaptcha {
  background: $validation-invalid-background-color scroll right;
  border-color: $validation-invalid-color !important;
}

form.ng-valid-recaptcha ul li div.offerCaptcha {
  background: $validation-background-color scroll right;
  border-color: $validation-border-color !important;
}