$font-family-main: '../assets/fonts/ubuntu/Ubuntu-M.ttf';
$main-background-color: #394656;
$main-background-clear-color: rgba(57, 70, 86, .65);
$offer-color: #e0e4cc;

$more-detail-background-color: #ffffff;
$more-detail-color: #000000;
$button-blueish-color: #618eb8;
$button-blueish-background-color: #618eb8;
$button-red-background-color: #D76060;
$button-green-background-color: #97d779;
$button-dark-green-background-color: #b7d77a;
$button-orange-background-color: #d7b554;

$button-hot-offers-background: #f38630;
$button-new-offers-background: #f38630;
$get-offer-background-color: #ffffff;
$get-offer-hover-background-color: #d0e4f8;
$get-offer-hot-color: #d70000;
$get-offer-hot-background: #ffffff;
$offer-captcha-border-color: #c5caca;

$offer-list-font-color: #000000;
$main-font-color: #ffffff;

$filter-tab-color: #3b4858;
$filter-tab-unselected-color: #111b24;
$filter-tab-background-color: #334050;
$filter-tab-hover-background-color: #47586c;
$filter-background-color: #111b24;
$filter-category-dropdown-background: #334050;
$filter-category-content-background: rgba(57, 70, 86, .65);

$offer-autocomplete-background: rgba(57, 70, 86, .65);
$offer-comment-quote-button: #97d779;
$offer-comment-quote-button-hover: #f38630;
$offer-comment-background-color: rgba(0, 0, 0, 0.1);
$offer-comment-quote-background-color: rgba(0, 0, 0, 0.3);
$offer-image-background-color: rgba(118, 118, 118, 0.3);
$offer-specifications-borders-color: #ffffff;
$offer-specifications-background: rgba(0, 0, 0, 0.3);
$offer-specifications-title-color: rgba(0, 0, 0, 0.3);
$offer-specifications-subtitle-color: rgb(130, 130, 130);
$offer-total-feedback-background: rgba(0, 0, 0, 0.5);
$offer-list-feedback-background: rgba(0, 0, 0, 0.2);
$offer-list-separator-border-color: rgba(57, 70, 86, .05);
$offer-expired-color: rgba(104, 104, 104, 0.80);
$offer-expired-background-color: #825b49;
$offer-expired-image-color: #ff1f17;

$validation-focus-background-color: #ffffff;
$validation-focus-color: #000000;
$validation-hover-background-color: rgba(207, 231, 220, 0.15);
$validation-border-color: #618eb8;
$validation-background-color: rgba(105, 210, 231, .15);
$validation-invalid-color: #e62929;
$validation-invalid-background-color: rgba(230, 41, 41, .15);
$validation-invalid-comment-background: rgba(144, 144, 144, 0.075);
$validation-invalid-comment-border-color: #e6e6e6;
$password-forgotten-background: rgba(231, 0, 21, 1);
$input-focus-border-color: #618eb8;
$input-focus-box-shadow-color: 0 0 0 1px #618eb8;
$footer-font-color: #618eb8;
$footer-font-hover-color: #ffffff;
$input-border-color: #ffffff;
$input-background-color: #ffffff;
$autocomplete-suggestions-color: rgba(0, 0, 0, .8);

$image-uploader-border: .50em solid #618eb8;
$image-uploader-background-color: rgba(255, 255, 255, 0.5);
$image-uploader-content-border: 1px solid #e6e6e6;

$hotty-process-start-background-color: rgba(243, 134, 48, .60);
$hotty-process-half-background-color: rgba(243, 134, 48, 0.80);
$hotty-process-full-background-color: rgba(243, 134, 48, 1);
$hotty-process-half-burning-background-color: rgba(243, 117, 44, 1);
$hotty-process-burning-background-color: rgba(243, 67, 30, 1);
$hotty-process-burning-ashes-background-color: rgb(243, 36, 8);
$hotty-process-burned-background-color: rgb(243, 0, 0);
$coldy-process-start-background-color: rgba(97, 141, 186, 0.60);
$coldy-process-half-background-color: rgba(97, 141, 186, 0.80);
$coldy-process-full-background-color: rgba(97, 141, 186, 1);
$neutraly-process-start-background-color: rgba(104, 104, 104, 0.60);
$neutraly-process-half-background-color: rgba(104, 104, 104, 0.80);
$neutraly-process-full-background-color: rgba(104, 104, 104, 0.60);

$overflown-background: rgba(104, 104, 104, 0.50);
$overflown-hover-background: rgba(104, 104, 104, 0.80);
$overhead-container-background-color: #000000;
$overhead-field-disabled-background: rgba(0, 0, 0, .2);
$overhead-field-focus-background: #ffffff;
$overhead-field-selection-background: #f3630a;
$overhead-button-blue-color: #43638e;
$overhead-button-background-color: #F35E1E;

$profile-options-background-color: #D76060;
$profile-options-hover-background-color: #c06060;

$redirect-container-border-color: #ffffff;
$redirect-container-hover-color: #d70000;
$redirect-container-back-hover-color: #eeeeee;
$redirect-container-hover-background: rgba(255, 255, 255, 0.075);

$social-google-background-color: #D14836;
$social-fb-background-color: #3B5998;
$social-twitter-background-color: #00ACED;

$slick-disabled-background: rgba(255, 255, 255, .15);

/* change deltas for email templates */

@charset "UTF-8";
@import "main";
@import "footer";
@import "main-decorator";
@import "main-button-decorator";
@import "hover-decorator";
@import "overhead";
@import "top-header";
@import "offer-list";
@import "offer-list-mobile";
@import "loading-dialogue";
@import "offer-filter";
@import "server-response";
@import "password-forgotten";
@import "validation";
@import "terms";
@import "login";
@import "profile-dropdown";
@import "social-media";
@import "main-animator";
@import "tutorial";
@import "promotion-list";
@import "offer-specifications";
@import "offer-comments";
@import "image-upload";